<nav id="side-panel" class="medium-3 columns expanded">
  <ul class="side-panel-menu">
    <li class="active"><a href="#">Dashboard</a></li>
    <li><a href="#">Listings</a></li>
    <li><a href="#">Contacts</a></li>
    <li><a href="#">Users</a></li>
  </ul>
</nav>