<div class="row expanded" style="margin-top: 60px;">
  <%= render "side_panel" %>

  <div class="medium-9 columns dashboard-content push-footer">
    <h1>Dashboard page</h1>
    <hr>
    <p><%= @properties.count %> listings</p>
    <p><%= @contacts.count %> contacts</p>
    <%= image_tag ('logo small.png')%>
    
  </div>
</div>


