<div class="row expanded">
  <%= render "side_panel" %>

  <div class="medium-9 columns">
    <h1>Dashboard page</h1>
    <%= link_to "Properties", dashboard_properties_path %>
    <br>
    <br>
    <br>
    <br>
    <%= get_namespace %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


