<div class="row expanded">
  <%= render "side_panel" %>

  <div class="medium-9 columns dashboard-content">
    <h1>Dashboard page</h1>
    <hr>
    <p><%= @properties.count %> listings</p>
    <p><%= @contacts.count %> contacts</p>
    <p><%= @customers.count %> customers</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


