<div class="row expanded">
  <%= render "side_panel" %>

  <div class="medium-9 columns">
    <h1>Dashboard page</h1>
    <h3><%= @properties.count %> listings</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


