<h1><%= @customer.full_name %>'s favorites</h1>
<% if @favorites.count > 0 %>
  <ul>
    <% @favorites.each do |f| %>
      <li>
        <%= link_to f.property.description, property_path(f.property) %>
      </li>
    <%end%>
  </ul>
<% end %>
<%= link_to 'Back to Dashboard', customer_path(@customer) %>
