<div class="row expanded">
  <%= render "dashboard/side_panel" %>

  <div class="medium-9 columns dashboard-content">
    <h1>New Property</h1>
    <hr>
    <%= render 'dashboard/properties/form' %>
  </div>
</div>