<% if @photo.new_record?%>
	alert("Failed to upload photo: <%= j @photo.errors.full_messages.join(', ').html_safe %>");

<% else %>
	$('#all_photos_show').replaceWith('<p> Your photos are loading... </p>');

	setTimeout(function(){
		$('#edit_photos_section').html("<%= escape_javascript(render partial: '/dashboard/properties/edit_photos', locals: {photo: @photo, property: @property})%>")
	}, 3500);

<% end %>
