<div>Step 5 of 5</div>
<h3>About your sale</h3>
<div id="propertiesNewContactForm">
<div style="padding:1.25rem 0 10rem;">
  <fieldset class="">
  <legend>What’s your ideal sale timeline?</legend>
  <%= fp.fields_for :contact_form, @contact do |cf| %>
    <%= cf.label "Timeframe" %>
    <%= cf.number_field :timeframe %>
  <%end%>
  </fieldset>
</div>
