<h1>Step 5. About your sale</h1>

  <fieldset class="">
    <legend>What’s your ideal sale timeline?</legend>
    <input type="radio" name="timeline" value="Red"  required><label >ASAP</label>
    <input type="radio" name="timeline" value="Blue" ><label >2 - 4 weeks</label>
    <input type="radio" name="timeline" value="Yellow" ><label >4 - 6 weeks</label>
    <input type="radio" name="timeline" value="Yellow" ><label >6+ weeks</label>
    <input type="radio" name="timeline" value="Yellow" ><label >Don't care</label>
  </fieldset>
