<div>Step 5</div>
<h3>About your sale</h3>


  <fieldset class="">
    <legend>What’s your ideal sale timeline?</legend>
    <input type="radio" name="timeline" value="1" ><label >ASAP</label>
    <input type="radio" name="timeline" value="2" ><label >2 - 4 weeks</label>
    <input type="radio" name="timeline" value="3" ><label >4 - 6 weeks</label>
    <input type="radio" name="timeline" value="4" ><label >6+ weeks</label>
    <input type="radio" name="timeline" value="5" ><label >Don't care</label>
  </fieldset>
