<div class="listing-filters">
  <form class="" method="get" data-remote="true" action="/properties/filter">
    <div class="row">
      <div class="medium-6 columns">
        <label>Min Price
          <select name="min-price">
            <!-- <option value="0">0</option> -->
            <option value="25000000">$250,000</option>
            <option value="50000000">$500,000</option>
            <option value="75000000">$750,000</option>
            <option value="100000000">$1,000,000</option>
            <option value="125000000">$1,250,000</option>
            <option value="150000000">$1,500,000</option>
            <option value="175000000">$1,750,000</option>
            <option value="200000000">$2,000,000</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Max Price
          <select name="max-price">
            <option value="">Unlimited</option>
              <option value="50000000">$500,000</option>
              <option value="100000000">$1,000,000</option>
              <option value="150000000">$1,500,000</option>
              <option value="200000000">$2,000,000</option>
              <option value="250000000">$2,500,000</option>
              <option value="300000000">$3,000,000</option>
              <option value="450000000">$4,500,000</option>
              <option value="500000000">$5,000,000</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Bedrooms
          <select name="bed">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Bathrooms
          <select name="bath">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
<!--       <div class="medium-6 columns">
        <label>Building Type
          <select name="type">
            <option value="0">Any</option>
            <option value="1">House</option>
            <option value="2">Townhouse</option>
            <option value="3">Apartment/Condo</option>

          </select>
        </label>
      </div> -->
      <div class="medium-6 columns">
        <label>Storeys
          <select name="storeys">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Min Floor Size (sqft)
          <input type="number" pattern="[0-9]" name="min-floor" value="">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Min Lot Size (sqft)
          <input type="number" pattern="[0-9]" name="min-floor" value="">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>City
          <select name="city">
            <option value>Any</option>
            <% unless @cities.nil? %>
              <% @cities.each do |city| %>
              <option value=<%= city %>><%= city %></option>
              <% end %>
            <% end %>
          </select>
        </label>
      </div>
     <!--  <div class="medium-6 columns">
        <label>Storeys
          <select name="storeys">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div> -->
    </div>

    <div>
      <input type="hidden" name="bound-east">
      <input type="hidden" name="bound-west">
      <input type="hidden" name="bound-north">
      <input type="hidden" name="bound-south">
    </div>

    <div class="filter-buttons">
      <a href="#" class="btn btn-secondary" id="cancel-btn">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Apply" id="submit-filter">
    </div>

  </form>
</div>
