<div class="listing-filters">
  <form class="">
    <div class="row">
      <div class="medium-6 columns">
        <label>Min Price
          <select>
            <option value="0">0</option>
            <option value="1">$100,000</option>
            <option value="2">$200,000</option>
            <option value="3">$300,000</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Max Price
          <select>
            <option value="0">Unlimited</option>
            <option value="1">$100,000</option>
            <option value="2">$200,000</option>
            <option value="3">$300,000</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Bedrooms
          <select>
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Bathrooms
          <select>
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Building Type
          <select>
            <option value="0">Any</option>
            <option value="1">House</option>
            <option value="2">Townhouse</option>
            <option value="3">Apartment</option>
            <option value="4">Duplex</option>
            <option value="5">Fourplex</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Storeys
          <select>
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Min Square Feet
          <input type="number">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Min Lot Size (sqft)
          <input type="number">
        </label>
      </div>
    </div>

    <div class="filter-buttons">
      <a href="#" class="btn btn-secondary" id="cancel-btn">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Apply">
    </div>

  </form>
</div>