<div class="listing-filters">
  <form class="" method="get" data-remote="true" action="/properties/filter">
    <div class="row">
      <div class="medium-6 columns">
        <label>Min Price
          <select name="min-price">
            <option value="0">0</option>
            <option value="10000000">$100,000</option>
            <option value="15000000">$150,000</option>
            <option value="20000000">$200,000</option>
            <option value="25000000">$250,000</option>
            <option value="30000000">$300,000</option>
            <option value="35000000">$350,000</option>
            <option value="40000000">$400,000</option>
            <option value="45000000">$450,000</option>
            <option value="50000000">$500,000</option>
            <option value="55000000">$550,000</option>
            <option value="60000000">$600,000</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Max Price
          <select name="max-price">
            <option value="">Unlimited</option>
              <option value="10000000">$100,000</option>
              <option value="15000000">$150,000</option>
              <option value="20000000">$200,000</option>
              <option value="25000000">$250,000</option>
              <option value="30000000">$300,000</option>
              <option value="35000000">$350,000</option>
              <option value="40000000">$400,000</option>
              <option value="45000000">$450,000</option>
              <option value="50000000">$500,000</option>
              <option value="55000000">$550,000</option>
              <option value="60000000">$600,000</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Bedrooms
          <select name="bed">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Bathrooms
          <select name="bath">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Building Type
          <select name="type">
            <option value="0">Any</option>
            <option value="1">House</option>
            <option value="2">Townhouse</option>
            <option value="3">Apartment</option>
            <option value="4">Duplex</option>
            <option value="5">Fourplex</option>
          </select>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Storeys
          <select name="storeys">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>Min Floor Size (sqft)
          <input type="text" pattern="[0-9]" name="min-floor" value="">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Min Lot Size (sqft)
          <input type="text" pattern="[0-9]" name="min-floor" value="">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-6 columns">
        <label>City
          <select name="city">
            <option value>Any</option>
            <% unless @cities.nil? %>
              <% @cities.each do |city| %>
              <option value=<%= city %>><%= city %></option>
              <% end %>
            <% end %>
          </select>
        </label>
      </div>
     <!--  <div class="medium-6 columns">
        <label>Storeys
          <select name="storeys">
            <option value="0">Any</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </label>
      </div> -->
    </div>

    <div>
      <input type="hidden" name="bound-east">
      <input type="hidden" name="bound-west">
      <input type="hidden" name="bound-north">
      <input type="hidden" name="bound-south">
    </div>

    <div class="filter-buttons">
      <a href="#" class="btn btn-secondary" id="cancel-btn">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Apply" id="submit-filter">
    </div>

  </form>
</div>
