<%- title "Sell Your Home"%>
<div>Step 3 of 7</div>
<h3>Home Upgrades</h3>
<h6 style="color: #52b7e7;">Let us know of any upgrades made in your home</h6>
<hr>
<label> Have you renovated your home since you purchased it?</label>		
<p>TBT</p>
	
