<div>Step 2</div>
<h3>Upgrades</h3>
<br>
<%= fp.fields_for :photos do |ffp| %>
  <div>
    <%= ffp.label :picture %>
    <%= ffp.file_field :picture, :multiple => true, name: "photos[picture][]" %>
  </div>
<%end%>