<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @city %>
    </title>
  </head>
  <body>
    <h1>
      <%= @city %>
    </h1>
    <ul>
      <% @properties.each do |property| %>
        <li>
          <h5><%= property.description %></h5>
          <p><%= property.address.address_first %></p>
        </li>
      <% end %>
    </ul>
  </body>
</html>
