<div class="row expand confirmed-section">

	<div class="medium-collapse columns confirmed-columns">

		<%= image_tag('thankyou.svg', class: 'confirmed-logo')%>
		<h3>We're on it! </h3>
		
		<p>Our team of local market experts and data scientists are already working on your competitive market analysis (CMA) which provides a fair and accurate price that reflects the unique attributes of your home and market conditions.</p>
		
		<p>You can expect to receive an email with your offering in one hour or less. In the meantime, feel free to check out the short summary of our <a href="/howitworks">process</a> and our <a href="/faq">FAQ</a>. </p>
	</div>

<div class="row small-uncollapse medium-collapse row-2" style="padding-bottom: 3em;">
	<div class="small-4 small-offset-2 medium-3 medium-offset-3 columns">
		<a href="/howitworks" class="button confirm-b">Learn More</a>
	</div>
	<div class="small-4 medium-2 end columns">
			<a href="/faq" class="button">
				Our FAQs
			</a>
	</div>
</div>



</div>