<!DOCTYPE html>
<html>
  <head>
    <title>Openreal</title>
  </head>
  <body>
    <% if !@properties %>
      <h1> There are no properties here </h1>
    <%else%>
      <ul>
        <% @properties.each do |p| %>
          <li>
            <h1>Placeholder Image</h1>
            <h5><%= p.address.address_first %></h5>
            <h5><%= p.address.city %></h5>
            <h5><%= p.address.postal_code %></h5>
          </li>
        <%end%>
      </ul>
    <%end%>
  </body>
</html>

