<div class="grid-three">
  <div class="top-header-contain">
    <h1 class="header-2" style="padding-bottom: 10px; color:#2ba8de;"> OpenReal includes everything you need for a stress-free experience.</h1>
    <h2 class="header-2">Selling your home, reimagined</h2>
  </div>
    <div class="row align-center get-offer">
      <div class="small-12 medium-expand align-center columns">
        <span class="small-12"><a href="/" class="small-12 offer-link">Get Your Offer</a></span>
      </div>
  </div>
