<div class="row expanded">
  <div class="small-9 medium-8 small-centered medium-centered columns top-header-contain">
    <h1 class="headers"> Full service every step of the way</h1>
    <h2 class="headers"> Here's how we buy your home</h2>
 	</div>
 </div>