<div class="push-footer row" style="margin-top: 6em; margin-bottom: 1em;">
	<div class="column small-12 medium-6 medium-offset-1 large-5" style="width: 14%; display: block;">
	<%= image_tag('logo_med')%>
	</div>
	<div class="column small-12 medium-7 large-8 end">
		<h1 style="text-align: center;">Temporarily Down For Maintenance</h1>
		<p style="text-align: center;">We are busy updating the information for you and will be back shortly.</p>
	</div>
</div>