<div class="agent_landingpage">
	
	<section class="header">
		<div class="row expanded">

			<div class="small-12 columns">
				<h2>Let OpenReal Do The Work</h2>
			</div>
			<div class="small-12 small-centered columns">
				<h6>Guarantee your sales(and peace of mind). Every time.</h6>
			</div>
			<div class="small-12 small-centered columns">
			  <a href="#listing-banner"> <!--add transitions -->
			  	<span>SIGN UP</span>
			  </a>
		  </div>
		</div>
	</section>

	<section class="info">
		<div class="row expanded">
			<div class="small-12 columns">
				<p>Something is here</p>
			</div>
		</div>
	</section>

</div>	