<div class="row expanded align-center first-section">

	<div class="small-12 medium-expanded">
		<section class="small-12 medium-12 first-section">

			<h2 class="contact-hi">Hello!</h2>

			<p class="title-text">We always love to hear from our users and others who want to learn more. <a href="#">Email</a> us anytime if you’d like to get in touch, be it about a new feature idea, a question you have, or to brainstorm an exciting new partnership.
			</p>
			<p class="title-text">We'd love to hear from you!</p>
		</section>
	</div>
</div>

<div class="row expanded second-section">
	<section class="small-12 medium-expanded two">
		<h2 class="dos-h2">Customer help & FAQs</h2>
		<span>Questions, inquiries, feedback about OpenReal?</span> <a href="mailto:info@openreal.com">info@openreal.com</a>
		<hr class="hr-contact">
	
		<h2 class="dos-h2" style="padding-top: 0;">Press</h2>
		<span>For Press inquiries, contact</span> <a href="mailto:press@openreal.com">press@openreal.com</a>
		<hr class="hr-contact">
		<h2 class="dos-h2" style="padding-top: 0;">Partners</h2>
		<span>For partnership opportunities, contact</span> <a href="mailto:partnerships@openreal.com">partnerships@openreal.com</a>
	</section>
</div>

<div class="row expanded align-center" style="padding-bottom:1em;">
	<section>
		<span class="title-maps">It's easy to find us.</span>
		<div class="medium-11 columns map">
			<div class="medium-3 columns box-size">
				<img class="thumbnail small-12" src="<%= asset_path('map-1.png')%>" alt="Vancouver map">
			</div>

			<div class="medium-3 column box-size">
				<h6 class="city">VANCOUVER </h6>
				<p class="address">
				128 W Hastings St #300, <br> Vancouver, BC V6B 1G8 <br> 8am-6pm
				</p>
			</div>
			
			<div class="medium-3 column box-size">
				<img class="thumbnail small-12" src="<%=asset_path('map-2.png')%>" alt="Surrey Map">
			</div>

			<div class="medium-3 column box-size">
				<h6 class="city">SURREY </h6>
				<p class="address">
					7565 132 St,<br> Surrey, BC V3W 1K5 
					<br> 8am-6pm
				</p>
			</div>
		</div> 	
	</section>
	
</div>
<!-- In case we want to use it -->
<!-- 			<script type="text/javascript">
				var map;
				function initMap(){
					map = new google.maps.Map(document.getElementById('map'),{
						center: {lat:49.140157, lng:-122.8600156}, 
						zoom: 13
					});
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzu93Bw-ih-f9ZAToKerHN81ivZNYmtIw&callback=initMap"
    async defer></script> -->


