
<%- title "FAQ"%>
<%= render 'temp_unavail_view'%>
<!-- <div id="faq" class="row"> -->
  <!-- <div class="medium-10 medium-centered columns"> -->

    <!-- <div class="row collapse"> -->
      <!-- faq -->
<!--       <div class="medium-8 columns" id="faq-content"> -->
        <!-- <section class="faq-section" id="guarantee" data-magellan-target="guarantee">
          <h3>OpenReal Guarantee</h3>
          <div>
            <h4>Which homes are eligible for the OpenReal Guarantee?</h4>
            <p>All buyers who contract to buy an OpenReal home after June 7th, 2016 will be offered the OpenReal Guarantee as part of their purchase contract.</p>
          </div>

          <div>
            <h4>If I don’t love the home I purchased from OpenReal, can I return it?</h4>
            <p>The OpenReal Guarantee includes a 30-day guarantee. If you are unhappy with your home purchase, we’ll buy it back per the <a href="/terms">terms and conditions  of our guarantee.</a> </p>
            <p>Once you contact us within the 30-day window, we’ll schedule a visit to your home and re-inspect it to make sure there are no material detrimental changes which would significantly reduce the value of the home from the day you bought it. Assuming everything checks out, we’ll initiate the repurchase of your home for the original price less any sunk fees, transaction costs (including commissions) or repair costs beyond normal wear and tear, as further detailed in our written <a href="/terms">terms and conditions  of our guarantee.</a>
            </p>
          </div>
        </section> -->
<!--         <section class="faq-section" id="about" data-magellan-target="about">
          <h3>About OpenReal</h3>

          <div>
            <h4>Is OpenReal a house flipper?</h4>
            <p>We buy homes directly and renovate them for the buyer, but we are not the stereotypical flipper you might see on TV. Flippers typically look for undervalued homes sold in desperate circumstances, and aim for a minimum return of 25% on their purchase. In contrast, we look for fairly valued homes in good condition, and don't try to make large profit margins on the homes we buy and sell.</p>
            <p>The way real estate is sold hasn’t changed much in over 100 years, but technology has made it possible to create an experience that’s 1,000 times better. We’re trying to reinvent how real estate works by making it as easy as possible to sell and buy a home.</p>
          </div>

          <div>
            <h4>I am a real estate agent. Can I work with OpenReal?</h4>
            <p>Yes. As a reliable buyer, we’ve helped many real estate agents provide value to their clients. You can request an offer by entering the home’s address on the homepage, answering some questions about it, and then you can show the offer to your client.</p>
            <p>We charge the same amount whether or not a homeowner is working with a real estate agent. Feel free to reach out if you’d like to speak with us!</p>
          </div>

          <div>
            <h4 id="faq-redirect-to">What type of homes does OpenReal purchase?</h4>
            <p>OpenReal aims to bring convenience to all homeowners; today we're starting with homes that fit the following criteria:</p>

            <ul>
              <li><p>Single family residential real estate (including condos and town-homes that can receive traditional financing)<p></li>
              <li><p>Homes that are site-built (not pre-fabricated or mobile)</p></li>
              <li>
                <p>Homes located in our service areas</p>
              </li>
              <li>
                <p>When the seller has clear ownership of the property (no double escrow)</p>
              </li>
              <li>
                <p>Homes built after 1960</p>
              </li>
              <li>
                <p>Homes that are not in age-restricted communities</p>
              </li>
              <li>
                <p>Homes where our valuation is between <strong>$500,000 - $1,000,000</strong></p>
              </li>
              <li>
                <p>Homes that sit on at maximum of half an acre of land</p>
              </li>
              <li>
                <p>Homes that are owner-occupied or vacant, not leased, at the time of closing</p>
              </li>
              <li>
                <p>Homes that are non-distressed or Real Estate Owned</p>
              </li>
              <li>
                <p>Homes that don't have any un-permitted additions or significant foundation issues</p>
              </li>
              <li>
                <p>Homes that are not in gated communities</p>
              </li>
            </ul>

            <p>There may be exceptions, so feel free to get in touch if you'd like to discuss your property.</p>
          </div>

          <div>
            <h4>Where is OpenReal currently buying homes?</h4>
            <p>OpenReal is currently purchasing homes in the Metro Vancouver Area, Fraser Valley, Tri-Cities and Okanagan.</p>
            <p>Don’t live in one of our active regions? We are growing quickly and will be expanding soon. Enter your address on the homepage and provide us with your email — we will be sure to update you when we launch in your area. Stay tuned!</p>
          </div>

        </section>

        <section class="faq-section" id="offer" data-magellan-target="offer">
          <h3>About Your Offer</h3>
          <div>
            <h4>Can I work with OpenReal if I already have an agent?</h4>
            <p>You do not need an agent to sell your home to OpenReal, however, you are welcome to work with an agent and we can communicate directly with them if you prefer. If you are working with a real estate agent, you will need pay them a listing commission, usually between 1-3%.</p>
          </div>

          <div>
            <h4>Can I negotiate when I sell to OpenReal?</h4>
            <p>We focus on accuracy, not negotiation. Removing the hassle of negotiating is part of how we've simplified the process of selling your home. Our goal is to get you a market value offer on your home, which is why we ask you a lot of questions about your home before giving you an offer.</p>
            <p>If you still feel like you have more information about your home you would like us to consider, including photos of its current condition, send them our way! We would be happy to learn more about your home so we can make you the most accurate offer. Additionally, if you feel like you received an offer from us that was below market value, please tell us! We want to make sure we didn't miss something, and we'd be more than happy to share our process with you on how we came up with your offer.</p>
          </div>

          <div>
            <h4>How does OpenReal come up with my offer price?</h4>
            <p>We take pride in our method for accurately valuing homes. Our proprietary model was built by our in-house team of expert statisticians and real estate professionals. It uses all recent real estate transactions (i.e. comps in your neighborhood) to come up with an offer price. Our valuations team then takes a look at the information you gave us on your home and photos of your house to incorporate qualitative details to come up with your final offer price.</p>

            <p>If our valuations team feels like additional information is needed in order to accurately value your home, we’ll reach out for more details. Photos are particularly valuable to our team, so if we don't have photos of your home from its last listing, we'll ask you to send us some. No matter what, your home valuation and offer from us is always free!</p>
          </div>

          <div>
            <h4>How long is the offer good for?</h4>
            <p>If you’d like to accept our offer, we ask that you respond by setting up a contract within 3 days. Once that is set up, we ask that you sign the contract within 4 days. That's at most 7 days in total between initial offer and a signed contract. However, you can always get a refreshed offer at any time. Just ask us or click the refresh button on your expired offer page and we’ll get you an offer as soon as possible.</p>
            <p>Once you sign the contract, you can choose a move-out date within 60 days. Since we buy your home directly, we're able to close on your schedule!</p>
          </div>

          <div>
            <h4>How do I know the price is fair?</h4>
            <p>OpenReal homes are priced to appraise for a buyer. Our model takes the guesswork out of the traditional property assessment process by ensuring that a home's price is consistent with the market and transparent to buyers. We ensure that the price of a home is accurate by valuing the home based on location, characteristics and unique features.</p>
          </div>

          <div>
            <h4>How much does OpenReal charge?</h4>
            <p>Your OpenReal offer is free, and we work hard to make sure it's for the market value of your home. You can request an offer at any time – we'll always have one for you.</p>
            <p>Selling with OpenReal allows you to sell without any of the waiting and uncertainty. We take on the risk and costs you’d normally be on the hook for.</p>
            <p>If you decide to sell your home to us, we charge:</p>
              <ul>
                <li><p>2% for the OpenReal experience, which helps us take care of all the behind-the-scenes work to provide a seamless selling experience.</p></li>
                <li><p>0-5% for market risk, which varies depending on local market conditions. OpenReal allows you to sell with certainty and speed, which means we take on the risks involved with selling, such as waiting months on the market and contract fall throughs due to a buyer's financing.</p></li>
              </ul>
              <strong>What about closing costs?</strong>
              <p>Just like a traditional sale, the seller is responsible for standard closing costs including title insurance, any fees your HOA may charge, and 50% of escrow charges (we split that with you). Title insurance is a form of insurance which insures against financial loss from defects in title. Escrow charges are the fees a Title & Escrow company charges for completing the transaction. Closing costs on average total to less than 1% of your home's value.</p>
              <strong>How about repairs?</strong>
              <p>An OpenReal representative and a third-party inspector will do an inspection of your home within 7 days of the contract being signed. We’ll check the interior and exterior of your house and look for items that need repair or replacement. Additionally, we’ll make sure that what we’re seeing in person matches the information you provided us when you requested an offer and other data we used to come up with our offer.</p>
              <p>If repairs are needed, we will estimate the costs required to make these fixes and share them with you. We’ll ask that you sign an addendum to the contract that you will cover the costs of these repairs in a credit at closing. If you would prefer to do the repairs yourself, that is also an option, however we would need to reinspect to make sure they were done properly. If you aren’t willing to cover the repair costs, you are free to cancel the contract at this point and walk away without any costs or obligation.</p>
              <br>
              <p>If you have questions, we want to help! You’ll get a fast response from info@openreal.com</p>

          </div>
          <div>
            <h4>I made improvements on my home. Will that increase the offer?</h4>
            <p>If you did work on your home, we want to know! To make an accurate offer, we want all the information about the condition of your home and any improvements you made. We'll use your inputs from the questionnaire you filled to understand the upgrades you did. Additionally, you are always welcome to send us recent photos of your home, including any upgrades or renovations.</p>
          </div>

        </section>

        <section class="faq-section" id="inspection" data-magellan-target="inspection">
          <h3>OpenReal Home Inspection</h3>
          <div>
            <h4>Do you do the inspections yourself?</h4>
            <p>We use independent, state-licensed, third-party inspectors to perform inspections on the homes we sell.</p>
          </div>


          <div>
            <h4>What is covered by the home warranty?</h4>
            <p>Prior to OpenReal purchasing the OneGuard home warranty on your behalf, you will have the opportunity to review the detailed terms, conditions, and coverage scope, which will be contained in your home warranty contract between you &amp; OneGuard.</p>
          </div>
        </section>

        <section class="faq-section" id="selling" data-magellan-target="selling">
          <h3>OpenReal Selling Process</h3>

          <div>
            <h4>What happens at the final walkthrough?</h4>
            <p>A member of our team will visit your home and verify that there is not any new damage done to the property and that all personal property has been removed. It's entirely up to you if you'd like to be present. The process should only take 20 minutes or so.</p>
          </div>

          <div>
            <h4>How does closing work?</h4>
            <p>Our escrow agent will work with you to schedule a time for you to sign the closing documents. You may choose to have a mobile notary come to you, or sign at Fidelity's office.</p>
            <p>We’ll schedule a final walkthrough the day before the official close date (except Sundays, in which case you can choose a time on Saturday). On the close date, the transaction is recorded on the public record and the escrow agent distributes funds.</p>
            <p>Keep in mind, you don’t have to remember all of this right now. We’ll be right there with you all the way through!</p>
          </div>

          <div>
            <h4>How does the inspection process work?</h4>
            <strong>Why do we do an inspection?</strong>
            <p>We provide a free inspection to verify the condition of your home before closing. A third-party inspector will check the interior and exterior of your house, including the roof, plumbing & electrical systems, and major appliances such as A/C units. Your house does not need to be empty or even tidied up for us, as long as we can easily access all parts of the house.</p>

            <strong>What if repairs are needed?</strong>
            <p>If repairs are needed, we will estimate the costs required to make these fixes and share them with you. We’ll ask that you sign an addendum to the contract that you will cover the costs of these repairs in a credit at closing. If you aren’t willing to cover the repair costs, you are free to cancel the contract at this point and walk away without any costs or obligation.</p>

            <strong>How does the inspection work?</strong>
            <p>Inspections typically take around 2 hours, depending on the size of your house. The inspector will require access to all rooms in your home, including garage, attic and basement, as well as outdoor areas such as the yard and roof.</p>
          </div>

          <div>
            <h4>How does my mortgage get paid off?</h4>
            <p>Once the contract is signed, we open an escrow account with Bell Alliance. On the final closing date (which you determine!), your escrow agent will send the payoff amount to your mortgage lender, and the remainder will be wired to your bank account.</p>
          </div>

          <div>
            <h4>How long does the process take?</h4>
            <p>Getting your offer typically takes a few hours while we analyze your home and neighborhood, though during busy times our team will sometimes take more than a day. When your offer is ready, you'll receive an email linking you to it.</p>
            <p>Since we are buying your home directly, we can close your home sale on your schedule. We can close in as little as 3 days or as many as 60, and we're flexible to change the date within this time period. You let us know your desired closing date and we will work around your schedule!</p>
          </div>

          <div>
            <h4>What happens after I sign the contract?</h4>
            <p>Signing the contract allows us to move forward with the sale. The next step is to schedule an inspection, which you can do on your seller dashboard. We'll provide a free inspection of your property, and after that, we'll let you know the results of the inspection and we can move forward with the closing process. After that, you'll schedule a time to sign your closing documents with Fidelity National Title, and move out!</p>
          </div>

          <div>
            <h4>When do I need to move?</h4>
            <p>You should plan to move out 48 hours before the official closing. It’s important that you have fully moved all of your belongings before we do the final walkthrough and hand over the keys. Your home doesn’t need to be professionally cleaned (we handle that!), but there should be no trash, personal items or debris left over at the final walkthrough.</p>
          </div>

        </section>

      </div>

      <!-- nav menu -->
<!--       <div class="medium-4 columns hide-for-small-only" id="faq-nav" data-sticky-container >
        <div class=" text-center" data-sticky data-top-anchor="faq:top" data-btm-anchor="offer-section" data-margin-bottom="3" data-margin-top="3"> <div class="callout">
          <%#= image_tag('logo_med.png', style: "width:4em; padding-bottom: 1em")%>
          <h5>Frequently Asked Questions</h5>
          <p style="font-size: smaller">Find answers to common questions about OpenReal and our service</p>
          <hr>
          <ul data-magellan class="text-center"> -->
            <!-- <li><a href="#guarantee">OpenReal Guarantee</a></li> -->
<!--             <li><a href="#navbar">About OpenReal</a></li>
            <li><a href="#offer">About Your Offer</a></li>
            <li><a href="#inspection">Home Inspection</a></li>
            <li><a href="#selling">About the Selling Process</a></li>
          </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->
<!-- <hr> -->
<!-- <div id="offer-section">
  <%#= render 'welcome/get_offer' %>
</div> -->

<!-- <script type="text/javascript">
redirectFaqScroll();
</script>
 -->