<div id="faq" class="row">
  <div class="medium-10 medium-centered columns">
    <!-- <h3>Frequently Asked Questions</h3> -->

    <div class="row collapse">
      <!-- faq -->
      <div class="medium-8 columns" id="faq-content">
        <section class="faq-section" id="guarantee" data-magellan-target="guarantee">
          <h2>Openreal Guarantee</h2>
          <div>
            <h4>Which homes are eligible for the OpenReal Guarantee?</h4>
            <p>All buyers who contract to buy an OpenReal home after June 7th, 2016 will be offered the OpenReal Guarantee as part of their purchase contract.</p>
          </div>

          <div>
            <h4>If I don’t love the home I purchased from OpenReal, can I return it?</h4>
            <p>All buyers who contract to buy an OpenReal home after June 7th, 2016 will be offered the OpenReal Guarantee as part of their purchase contract.</p>
          </div>
        </section>

        <section class="faq-section" id="inspection" data-magellan-target="inspection">
          <h2>OpenReal Home Inspection</h2>
          <div>
            <h4>Do you do the inspections yourself?</h4>
            <p>We use independent, state-licensed, third-party inspectors to perform inspections on the homes we sell.</p>
          </div>

          <div>
            <h4>What if I want to use a different warranty vendor?</h4>
            <p>Your OpenReal home comes with a free 2-year extended coverage warranty from OneGuard Home Warranties to reduce the risk and headaches associated with major home repairs. This warranty is made possible by an exclusive arrangement with OneGuard. If you prefer another home warranty company, we are happy to provide one-year standard coverage from an alternate provider at your request.</p>
          </div>

          <div>
            <h4>What is covered by the home warranty?</h4>
            <p>Prior to OpenReal purchasing the OneGuard home warranty on your behalf, you will have the opportunity to review the detailed terms, conditions, and coverage scope, which will be contained in your home warranty contract between you &amp; OneGuard.</p>
          </div>
        </section>

        <section class="faq-section" id="offer" data-magellan-target="offer">
          <h2>About Your Offer</h2>
          <div>
            <h4>Can I work with Opendoor if I already have an agent?</h4>
            <p>You do not need an agent to sell your home to Opendoor, however, you are welcome to work with an agent and we can communicate directly with them if you prefer. If you are working with a real estate agent, you will need pay them a listing commission, usually between 1-3%.</p>
          </div>

          <div>
            <h4>How does Opendoor come up with my offer price?</h4>
            <p>We take pride in our method for accurately valuing homes. Our proprietary model was built by our in-house team of expert statisticians and real estate professionals. It uses all recent real estate transactions (i.e. comps in your neighborhood) to come up with an offer price. Our valuations team then takes a look at the information you gave us on your home and photos of your house to incorporate qualitative details to come up with your final offer price.</p>

            <p>If our valuations team feels like additional information is needed in order to accurately value your home, we’ll reach out for more details. Photos are particularly valuable to our team, so if we don't have photos of your home from its last listing, we'll ask you to send us some. No matter what, your home valuation and offer from us is always free!</p>
          </div>
        </section>

        <section class="faq-section" id="about" data-magellan-target="about">
          <h2>About OpenReal</h2>
          <div>
            <h4>What does OpenReal do with my home after buying it?</h4>
            <p>After we purchase your home, we develop a repair and renovation plan. We make investments such as landscaping, painting, replacing countertops and floors and whatever else is needed to get the home in great condition for sale. Once the house is ready, we put it on the market. While a house is listed on the market, we keep it show-ready. We then go through the same wait and uncertainty that we help sellers avoid! To check out some of our move-in ready homes, check out www.openreal.ca/homes !</p>
          </div>

          <div>
            <h4>Is OpenReal a house flipper?</h4>
            <p>We buy homes directly and renovate them for the buyer, but we are not the stereotypical flipper you might see on TV. Flippers typically look for undervalued homes sold in desperate circumstances, and aim for a minimum return of 25% on their purchase. In contrast, we look for fairly valued homes in good condition, and don't try to make large profit margins on the homes we buy and sell.</p>
            <p>The way real estate is sold hasn’t changed much in over 100 years, but technology has made it possible to create an experience that’s 1,000 times better. We’re trying to reinvent how real estate works by making it as easy as possible to sell and buy a home.</p>
          </div>

          <div>
            <h4>I am a real estate agent. Can I work with OpenReal?</h4>
            <p>Yes. As a reliable buyer, we’ve helped many real estate agents provide value to their clients. You can request an offer by entering the home’s address on the homepage, answering some questions about it, and then you can show the offer to your client.</p>
            <p>We charge the same amount whether or not a homeowner is working with a real estate agent. Feel free to reach out if you’d like to speak with us!</p>
          </div>
        </section>

      </div>

      <!-- nav menu -->
      <div class="medium-4 columns hide-for-small-only" id="faq-nav" data-sticky-container >
        <div class="callout text-center" data-sticky data-margin-top="6">
          <h5>Frequently Asked Questions</h5>
          <ul data-magellan class="text-center">
            <li><a href="#guarantee">Openreal Guarantee</a></li>
            <li><a href="#inspection">Home Inspection</a></li>
            <li><a href="#offer">About Your Offer</a></li>
            <li><a href="#about">About OpenReal</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>