<%- title "How It Works"%>
<div class="row expanded ">
  <%= render "howitworks_header" %>
  <div class="medium-12 medium-centered columns howitworks"  id="howitworks">

    <div class="row collapse">
      <!-- how it works -->
      <div class="medium-6 medium-offset-1 small-offset-0 columns" id="howitworks-content">
        <ul id="howitworks-part" data-magellan-target="howitworks-part" data-accordion-menu >
          <li class="text-align">
            <a href="#" class="down up inverse trigger-1"><h3 class="header-1">How It Works</h3></a> <hr class="hide-for-small-only">
            <ul class="menu vertical nested is-active js-accordion-target submenu">
              <li>
                <h4>1. Tell us about your home</h4>
                <p>Requesting an offer takes just a few minutes and is completely free.</p>
              </li>
              <li>
                <h4>2. Receive an offer on your home</h4>
                <p>We base our offer on a comparative market analysis and your home’s unique story.</p>
              </li>
              <li>
                <h4>3. Schedule your home inspection</h4>
                <p>If you like the price, we’ll do a free, quick home inspection to confirm your home’s condition and guarantee your price in writing.</p>
              </li>
              <li>
                <h4>4. Choose your move-out date</h4>
                <p>Select the closing date you want, from 3 to 60 days from today.</p>
              </li>
              <li>
                <h4>5. We’ll take care of the rest</h4>
                <p>Watch the progress of your sale while we take care of all of the details, including arranging escrow.</p>
              </li>
              <li>
                <h4>6. And you’re done!</h4>
                <p>You will receive the proceeds from your home‘s sale on your chosen closing date.</p>
              </li>
            </ul>
          </li>
        </ul>
        <!-- inspection -->
        <ul id="inspection" data-magellan-target="inspection" data-accordion-menu >
          <li class="text-align">
            <a href="#" class="up down trigger-2"><h3 class="header-1">About Our Inspections</h3></a> <hr class="hide-for-small-only">
            <ul class="menu vertical nested js-accordion-target1 submenu">
              <li>
                <h4>How inspections work.</h4>
                <p>A licensed inspector, termite inspector and an OpenReal team member will work together to complete the inspection. ​We may also send specialists to examine your HVAC system, roof, or foundation. Inspections typically take around 2 hours, depending on the size of your house. The inspector will require access to all rooms in your home, including garage, attic and basement, as well as outdoor areas such as the yard and roof.</p>
              </li>
              <li>
                <h4>Why do we do inspections?</h4>
                <p>We provide a free inspection to verify the condition of your home before closing. We’ll check for items that need repair or replacement or aren't up to code. Additionally, we’ll make sure that what we see in person matches the information you provided us and that we didn't miss anything.</p>
              </li>
              <li>
                <h4>What if repairs are needed?</h4>
                <p>If we find that the house is not as we expected it to be, we may ask for a credit for the difference. If repairs are needed, we will provide an estimate of the costs required to make these fixes. We’ll ask that you sign an addendum to the contract that will cover any credits we ask for. If you aren’t willing to cover these credits, you are free to cancel the contract and walk away with no costs or obligation.</p>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Closing --> 
        <ul id="closing" data-magellan-target="closing" data-accordion-menu >
          <li class="text-align">
            <a href="#" class="up down trigger-3"><h3 class="header-1">How Closing Works</h3></a> <hr class="hide-for-small-only">
            <ul class="menu vertical nested js-accordion-target2 submenu">
              <li>
                <h4>1. Escrow Account Opened</h4>
                <p>Once you sign the contract, we’ll open an escrow account with a national title company. Escrow generally refers to money held by a third-party on behalf of transacting parties. To start the closing process, OpenReal will fund an earnest deposit to show our commitment to the purchase, and your escrow agent will ask you about your mortgage provider and reach out to your HOA.</p>
              </li>
              <li>
                <h4>2. Signing Closing Documents</h4>
                <p>A few days before your close date, your escrow agent will reach out to you to find a time for you to sign the final closing documents and choose how you’d like to receive funds. You may sign the documents at the title company's local office or schedule a mobile notary to meet you where it’s most convenient for you.</p>
              </li>
              <li>
                <h4>3. The Final Walkthrough</h4>
                <p>A day before the close date, we’ll schedule a final walkthrough of your house to ensure the condition of your house looks as it did upon inspection, and that all of your belongings are moved out. Leaving belongings behind could delay the closing process.</p>
              </li>
              <li>
                <h4>4. Day of Closing</h4>
                <p>On the day of closing, the transaction is recorded on the public record and your escrow agent will distribute funds to you. And don’t worry, you don’t have to remember all of this now. We’ll be right there with you all the way through!</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- how it works nav -->
      <div class="medium-4 columns hide-for-small-only" id="howitworks-nav" data-sticky-container>

        <div class="sticky" data-sticky data-anchor="howitworks-content" data-margin-bottom="2" data-margin-top="2" data-check-every="0">

          <div class="this" style="margin-bottom: 20px;">
            
            <ul>
              <li><a href="#" id="how" class="js-accordion-trigger"> How it Works</a></li>
              <li><a href="#" id="inspect" class="js-accordion-trigger1">Inspection Process</a></li>
              <li><a href="#" id="close" class="js-accordion-trigger2">Closing the Deal</a></li>
            </ul>
          </div>
          <div class="this">
            <p><%= image_tag("logo_med") %></p>
            <h5>Sell Your Home Quickly &amp; Safely</h5>
            <div class="form-cx">
              <%= form_tag (properties_sell_path), id: "addressForm" do %>

              <div class="form-start">
                <input type="text" id="addressInput" name="addressInput" placeholder="Enter your home address">    
                <input type="hidden" name="addressFirst" id="addressFirst">
                <input type="hidden" name="addressSecond" id="addressSecond">
                <input type="hidden" name="addressCity" id="addressCity">
                <input type="hidden" name="addressPostal" id="addressPostal">
                <input type="hidden" name="addressLat" id="addressLat">
                <input type="hidden" name="addressLng" id="addressLng">
               <p> <input type="submit" value="Get Your Offer" class="offer-link" style="border-radius: 0;"></p>
              </div>
              <% end %>
            </div>
          </div>


        </div>
      </div>

    </div> 
  </div> 
  <hr>
</div>
<div id="offer-section">
  <%= render 'get_offer' %>
</div>

<script type="text/javascript">

function openAccordion (trigger, target, id){
  $(trigger).bind('click', function(e){
    $('#howitworks-part').find($('a.inverse')).toggleClass('up inverse');
    $(id).find($('a.down')).toggleClass('up');

    $('ul').find(target).slideToggle('fast')

    //accordionScroll(id);
    e.preventDefault();
  });
};

function accordionScroll(id){
  $('html,body').animate({
    scrollTop: $(id).offset().top,
  });
}


openAccordion('.js-accordion-trigger', '.js-accordion-target', '#howitworks-part');
openAccordion('.js-accordion-trigger1','.js-accordion-target1', '#inspection');
openAccordion('.js-accordion-trigger2','.js-accordion-target2', '#closing');
openAccordion('.trigger-1', '.js-accordion-target', '#howitworks-part');
openAccordion('.trigger-2','.js-accordion-target1', '#inspection');
openAccordion('.trigger-3','.js-accordion-target2', '#closing');
</script>


