<%- title "How It Works"%>
<div id="howitworks x">
  <%= render "howitworks_header" %>

    <div class="large-3 columns" data-sticky-container>
      <nav class="columns sticky" data-sticky data-top-anchor="x" data-btm-anchor="y" data-sticky-on="large">
        <ul class="vertical menu" data-magellan>
          <li><a href="#first">First Arrival</a></li>
          <li><a href="#second">Second Arrival</a></li>
          <li><a href="#third">Third Arrival</a></li>
        </ul>
      </nav>
    </div>

    <div>
      <p>nstantly break out into full speed gallop across the house for no reason throwup on your pillow hide head under blanket so no one can see for peer out window, chatter at birds, lure them to mouth but playing with balls of wool swat turds around the house shove bum in owner's face like camera lens. Knock dish off table head butt cant eat out of my own dish walk on car leaving trail of paw prints on hood and windshield purrrrrr so play riveting piece on synthesizer keyboard. Sleep in the bathroom sink nap all day stick butt in face stare at the wall, play with food and get confused by dust for pee in the shoe. Scamper walk on car leaving trail of paw prints on hood and windshield. Kitty scratches couch bad kitty this human feeds me, i should be a god. I like big cats and i can not lie instantly break out into full speed gallop across the house for no reason but sleep on dog bed, force dog to sleep on floor asdflkjaertvlkjasntvkjn (sits on keyboard) sit in box. Stare at ceiling light kitty loves pigs but destroy the blinds for run in circles gnaw the corn cob rub face on owner. Put butt in owner's face stand in front of the computer screen, for flop over attack feet. Eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap sniff other cat's butt and hang jaw half open thereafter or lick butt paw at your fat belly. Put toy mouse in food bowl run out of litter box at full speed . Scratch at the door then walk away hola te quiero. Pee in human's bed until he cleans the litter box unwrap toilet paper for have my breakfast spaghetti yarn spit up on light gray carpet instead of adjacent linoleum or kitty power! claw drapes. Plan steps for world domination kitty power! , yet cat slap dog in face meow for food, then when human fills food dish, take a few bites of food and continue meowing or chase ball of string favor packaging over toy for put butt in owner's face. Lick plastic bags eat grass, throw it back up. Chase imaginary bugs meow yet meow meow, i tell my human, for meowwww.  </p>
    </div>

  <!-- <section class="row expanded small-uncollapse medium-collapse tab-holder">
    <div class="small-12 medium-6 small-centered columns on-tab">

      <ul class="tabs" data-tabs id="howitworks-tabs">
        <li class="tabs-title small-4 medium-4 columns is-active">
          <div class="activity">
             <div> 
                <%#= image_tag('icons/howitworks.svg')%> 
              </div> 
              <br>
              <p>
                <a href="#panel1" class="text-center" aria-selected="true"> How it Works
                </a>
              </p> 
          </div>
        </li>

        <li class="tabs-title small-4 medium-4 columns">
          <div class="activity">
           <div> 
              <%#= image_tag('icons/inspection.svg')%>
            </div> 
            <br>
            <p>
              <a class="text-center" href="#panel2">
              Inspection Process
              </a>
            </p>
          </div>
        </li>

        <li class="tabs-title small-4 medium-4 columns end">
          <div class="activity">
            <div> 
              <%#= image_tag('icons/closing.svg')%>
            </div> 
            <br>
            <p>
              <a class="text-center" href="#panel3">
                Closing the Deal
              </a>
            </p>
          </div>
        </li>


      </ul>
    </div>
  </section>

  <div class="tabs-content" data-tabs-content="howitworks-tabs">

    <div class="tabs-panel is-active" id="panel1">
      <section class="row">
        <div class="medium-6 medium-offset-3 columns">

          <div class="row">
            <div class="small-3 medium-2 columns steps-left">

            </div>
            <div class="columns steps-right">
              <div class="order">
                <h2>1</h2>
              </div>
              <h3>Tell us about your home</h3>
              <p>Requesting an offer takes just a few minutes and is completely free.</p>
            </div>
          </div>

          <div class="row">
            <div class="small-3 medium-2 columns steps-left">
            </div>
            <div class="columns steps-right">
              <div class="order">
                <h2>2</h2>
              </div>
              <h3>Receive an offer on your home</h3>
              <p>We base our offer on a comparative market analysis and your home’s unique story.</p>
            </div>
          </div>

          <div class="row">
            <div class="small-3 medium-2 columns steps-left">
            </div>
            <div class="columns steps-right">
              <div class="order">
                <h2>3</h2>
              </div>
              <h3>Schedule your home inspection</h3>
              <p>If you like the price, we’ll do a free, quick home inspection to confirm your home’s condition and guarantee your price in writing.</p>
            </div>
          </div>

          <div class="row">

            <div class="small-3 medium-2 columns steps-left">

            </div>
            <div class="columns steps-right">
              <div class="order">
                <h2>4</h2>
              </div>
              <h3>Choose your move-out date</h3>
              <p>Select the closing date you want, from 3 to 60 days from today.</p>
            </div>
          </div>

          <div class="row">
            <div class="small-3 medium-2 columns steps-left">

            </div>
            <div class="columns steps-right">
              <div class="order">
                <h2>5</h2>
              </div>
              <h3>We’ll take care of the rest</h3>
              <p>Watch the progress of your sale while we take care of all of the details, including arranging escrow.</p>
            </div>
          </div>

          <div class="row">
            <div class="small-3 medium-2 columns steps-left">

            </div>
            <div class="columns steps-right">
              <div class="order">
                <h2>6</h2>
              </div>
              <h3>And you’re done!</h3>
              <p>You will receive the proceeds from your home‘s sale on your chosen closing date.</p>
            </div>
          </div>

        </div>
      </section>
    </div>

    <div class="tabs-panel" id="panel2">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <h5><strong>ABOUT OUR INSPECTIONS</strong></h5>
          <br>
          <h6><strong>WHY DO WE DO INSPECTIONS?</strong></h6>
          <p class="paragraph">We provide a free inspection to verify the condition of your home before closing. We’ll check for items that need repair or replacement or aren't up to code. Additionally, we’ll make sure that what we see in person matches the information you provided us and that we didn't miss anything.</p>
         <h6><strong>WHAT IF REPAIRS ARE NEEDED?</strong></h6>
          <p class="paragraph">If we find that the house is not as we expected it to be, we may ask for a credit for the difference. If repairs are needed, we will provide an estimate of the costs required to make these fixes. We’ll ask that you sign an addendum to the contract that will cover any credits we ask for. If you aren’t willing to cover these credits, you are free to cancel the contract and walk away with no costs or obligation.</p>  
        </div>
        <br>
        <br>
        <br>
        <div class="small-12 medium-6 columns">
          <h6 id="inspection-2"><strong>HOW INSPECTION WORKS </strong></h6>
          <p class="paragraph">A licensed inspector, termite inspector and an OpenReal team member will work together to complete the inspection. ​We may also send specialists to examine your HVAC system, roof, or foundation. Inspections typically take around 2 hours, depending on the size of your house. The inspector will require access to all rooms in your home, including garage, attic and basement, as well as outdoor areas such as the yard and roof.</p>
        </div>
      </div>
    </div>

    <div class="tabs-panel" id="panel3">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <h5><strong>HOW CLOSING WORKS</strong></h5>
          <br>
          <h6><strong>1 - ESCROW ACCOUNT OPENED</strong></h6>
          <p class="paragraph">Once you sign the contract, we’ll open an escrow account with a national title company. Escrow generally refers to money held by a third-party on behalf of transacting parties. To start the closing process, OpenReal will fund an earnest deposit to show our commitment to the purchase, and your escrow agent will ask you about your mortgage provider and reach out to your HOA.</p>
          <h6><strong>2 - SIGNING CLOSING DOCUMENTS</strong></h6>
          <p class="paragraph">A few days before your close date, your escrow agent will reach out to you to find a time for you to sign the final closing documents and choose how you’d like to receive funds. You may sign the documents at the title company's local office or schedule a mobile notary to meet you where it’s most convenient for you.</p>
        </div>
        <div class="small-12 medium-6  columns padding-fix-inspection-tab">
          <br>
          <br>
          <br>

          <h6><strong>3 - THE FINAL WALKTHROUGH</strong></h6>
          <p class="paragraph">A day before the close date, we’ll schedule a final walkthrough of your house to ensure the condition of your house looks as it did upon inspection, and that all of your belongings are moved out. Leaving belongings behind could delay the closing process.</p>
          <h6><strong>DAY OF CLOSING</strong></h6>
          <p class="paragraph">On the day of closing, the transaction is recorded on the public record and your escrow agent will distribute funds to you. And don’t worry, you don’t have to remember all of this now. We’ll be right there with you all the way through!</p>
        </div>
      </div>
    </div>

  </div>
  <hr> -->
  <div id= "y">
    <p>Cat slap dog in face spit up on light gray carpet instead of adjacent linoleum, for purr. Mrow with tail in the air so give attitude, so spread kitty litter all over house. Lick butt pooping rainbow while flying in a toasted bread costume in space. Behind the couch with tail in the air leave dead animals as gifts, yet lick the plastic bag chase dog then run away. Roll on the floor purring your whiskers off eat grass, throw it back up. Cough furball i like big cats and i can not lie my left donut is missing, as is my right inspect anything brought into the house. </p>
  </div>
  <%= render 'get_offer' %>

</div>


