<div id="howitworks">
  <!-- <section id=""> -->
    <!-- <div class=""> -->
      <%= render "howitworks_header"%>
      
        
      </div>
    <!-- </div> -->
  <!-- </section> -->

  <section class="row">
    <div class="medium-8 medium-centered columns">

      <div class="row">
        <div class="small-3 medium-2 columns steps-left">
          <!-- <img src="http://placehold.it/400?text=%20"> -->
        </div>
        <div class="small-9 medium-10 columns steps-right">
          <div class="order">
            <h2>1</h2>
          </div>
          <h3>Tell us about your home</h3>
          <p>Requesting an offer takes just a few minutes and is completely free.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 columns steps-left">
          <!-- <img src="http://placehold.it/400?text=%20"> -->
        </div>
        <div class="small-9 medium-10 columns steps-right">
          <div class="order">
            <h2>2</h2>
          </div>
          <h3>Receive an offer on your home</h3>
          <p>We base our offer on a comparative market analysis and your home’s unique story.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 columns steps-left">
          <!-- <img src="http://placehold.it/400?text=%20"> -->
        </div>
        <div class="small-9 medium-10 columns steps-right">
          <div class="order">
            <h2>3</h2>
          </div>
          <h3>Schedule your home inspection and guarantee</h3>
          <p>If you like the price we’ll do a free, quick home inspection to confirm your home’s condition and guarantee your price in writing.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 columns steps-left">
          <!-- <img src="http://placehold.it/400?text=%20"> -->
        </div>
        <div class="small-9 medium-10 columns steps-right">
          <div class="order">
            <h2>4</h2>
          </div>
          <h3>Choose your move-out date.</h3>
          <p>Select the closing date you want, from 3 to 60 days from today.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 columns steps-left">
          <!-- <img src="http://placehold.it/400?text=%20"> -->
        </div>
        <div class="small-9 medium-10 columns steps-right">
          <div class="order">
            <h2>5</h2>
          </div>
          <h3>We’ll take care of the rest.</h3>
          <p>Watch the progress of your sale while we take care of all of the details, including arranging escrow.</p>
        </div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 columns steps-left">
          <!-- <img src="http://placehold.it/400?text=%20"> -->
        </div>
        <div class="small-9 medium-10 columns steps-right">
          <div class="order">
            <h2>6</h2>
          </div>
          <h3>And you’re done!</h3>
          <p>You will receive the proceeds from your home‘s sale on your chosen closing date.</p>
        </div>
      </div>

    </div>
    <hr>
    <%= render 'get_offer'%>

</div>
  </section>

  
</div>