<div class="pricing">
  <div class="top-header-contain">
    <h1 class="headers"> Peace of mind, starting at just 6%</h1>
    <h2 class="headers"> Turning homeselling on its head</h2>
  </div>

	<div class="contain-rows focus-blue">
    <div class="row align-right title-row">
      <div class="small-4 medium-expand columns"><span></span></div>
      <div class="small-4 medium-expand columns"><span>Selling to XYZ</span></div>
      <div class="small-4 medium-expand columns"><span>Listing on Market</span>
      </div> 
    </div>
    <hr />

    <div class="row align-center first-row">
      <div class="small-4 medium-expand columns">
        <p>Service Cost</p>
      </div>
      <div class="small-4 medium-expand columns second-c">
        <p>Second column</p>
      </div>
      <div class="small-4 medium-expand columns">
        <p>Third column</p>
      </div>
     <hr />
    </div>
    <div class="row align-center second-row">
      <div class="small-4 medium-expand columns">
        <p>Market Risk Charge</p>
      </div>
      <div class="small-4 medium-expand columns second-c">
        <p>Second column</p>
      </div>
      <div class="small-4 medium-expand columns">
        <p>Third column</p>
      </div>
      <hr />
    </div>
    <div class="row align-center third-row">
      <div class="small-4 medium-expand columns">
        <p>Concesion to Buyer</p>
      </div>
      <div class="small-4 medium-expand columns second-c">
        <p>Second column</p>
      </div>
      <div class="small-4 medium-expand columns">
        <p>Third column</p>
      </div>
      <hr />
    </div>
    <div class="row align-center fourth-row">
      <div class="small-4 medium-expand columns">
        <p>Holding Cost</p>
      </div>
      <div class="small-4 medium-expand columns second-c">
        <p>Second column</p>
      </div>
      <div class="small-4 medium-expand columns">
        <p>Third column</p>
      </div>
    </div>
    <div class="row align-center get-offer">
    	<div class="small-12 medium-expand columns">
    		<span><a href="#">get your offer</a></span>
    	</div>
    </div>
  </div>
</div> 