<div class="pricing">
  <div class="top-header-contain">
    <h1 class="headers"> Peace of mind, starting at just 6%</h1>
    <h2 class="headers"> Turning homeselling on its head</h2>
  </div>

	<div class="contain-rows focus-blue">
    <div class="row title-row">
      <div class="small-4 medium-expand columns">
        <span class="make-space"></span>
      </div>

      <div class="small-4 medium-expand columns">
        <span><img class="logo-price"src=<%=asset_path('logo.png')%>></span>
      </div>

      <div class="small-4 medium-expand columns"><strong>Listing on Market</strong>
      </div> 
    </div>

    <div class="row align-center first-row">
      <hr class="hr-pricing"/>
      <div class="small-4 medium-expand columns what">
        <p>Service Cost</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p class="bold">Market Price Guaranteed</p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">Not Guaranteed</p>
        <p class="bold">Unknown</p>
      </div>
     <hr class="hr-pricing"/>
    </div>
    <div class="row align-center second-row">
      <div class="small-4 medium-expand columns what">
        <p>Market Risk Charge</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p class="bold">6 weeks or less</p>
        <p class="light">Guaranteed to sell</p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">Up to 6 months</p>
        <p class="light">Not guaranteed to sell</p>
      </div>
      <hr class="hr-pricing"/>
    </div>
    <div class="row align-center third-row">
      <div class="small-4 medium-expand columns what">
        <p>Concesion to Buyer</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p> -- </p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">2%</p>
        <p class="light">MLS shows most sellers pay 2-3%</p>
      </div>
      <hr class="hr-pricing"/>
    </div>
    <div class="row align-center fourth-row">
      <div class="small-4 medium-expand columns what">
        <p>Holding Cost</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p>--</p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">0-2%</p>
      </div>
    </div>
    <div class="row align-center get-offer">
    	<div class="small-12 medium-expand columns">
    		<span class="small-12"><a href="www.google.com" class="small-12 offer-link">get your offer</a></span>
    	</div>
    </div>
  </div>
</div> 
<!-- MAYBE make a partial for this next part-->
<div class="grid-two">
	<div class="top-header-contain">
    <h1 class="header-2"> A foolproof, full-service way to sell your home</h1>
    <h2 class="header-2">Everything traditional real estate does, only 100x better!</h2>
  </div>
<!-- </div> -->
	<div class="contain-row-2-mobile">
  	<div class="row">
  		<div class="small-4 medium-4 columns"><span class="make-space"></span></div>
  		<div class="small-4 medium-4 columns title">Openreal</div>
  		<div class="small-4 medium-4 columns title">Traditional Listing</div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Guaranteed to sell in 6 weeks or less for full market price</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Dedicated full-time team of licensed experts</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Paid on your satisfaction  to get you top dollar </div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Free proprietary 200-point home inspection and pre-owned certified warranty ($900 value) </div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Easy-to-use app to manage your entire transaction from any device</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Stuff here</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row bottom-row">
  		<div class="small-4 medium-4 columns text">Stuff here</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  </div>
	<!-- All rows thereafter label by # -->
</div>
<div class="grid-three">
  <div class="top-header-contain">
    <h1 class="header-2"> The only foolproof, full service way to sell your home</h1>
    <h2 class="header-2">Don’t settle for uncertainty. Your stomach sure won’t!</h2>
  </div>
    <div class="row align-center get-offer">
      <div class="small-12 medium-expand align-center columns">
        <span class="small-12"><a href="www.google.com" class="small-12 offer-link">get your offer</a></span>
      </div>
  </div>

  
</div>