<%- title "Pricing" %>
<div class="pricing">
  <div class="top-header-contain">
    <h1 class="headers"> Peace of mind, at just 2%</h1>
    <h2 class="headers"> Turning homeselling on its head</h2>
  </div>

	<div class="contain-rows focus-blue">
    <div class="row title-row">
      <div class="small-4 medium-expand columns">
        <span class="make-space"></span>
      </div>

      <div class="small-4 medium-expand columns">
        <span><img class="logo-price"src=<%=asset_path('logo.png')%>></span>
      </div>

      <div class="small-4 medium-expand columns"><strong>Listing on Market</strong>
      </div> 
    </div>

    <div class="row align-center first-row">
      <hr class="hr-pricing"/>
      <div class="small-4 medium-expand columns what">
        <p>Service Cost</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p class="bold">2% </p>
        <p class=""> To buy and resell your home.</p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">3%</p>
        <p class="">Agent Comissions to list at home.</p>
      </div>
     <hr class="hr-pricing"/>
    </div>
    <div class="row align-center second-row">
      <div class="small-4 medium-expand columns what">
        <p>Repair Allowance</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p class="bold">0-5%</p>
        <p class="light">Based on postal code and home type.</p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">0-6%</p>
        <p class="light">Appraisals vary up to 6%.</p>
      </div>
      <hr class="hr-pricing"/>
    </div>
    <!-- <div class="row align-center third-row">
      <div class="small-4 medium-expand columns what">
        <p>Concesion to Buyer</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p> -- </p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">2%</p>
        <p class="light">MLS shows most sellers pay 2-3%</p>
      </div>
      <hr class="hr-pricing"/> -->
    <!-- </div> -->
    <div class="row align-center fourth-row">
      <div class="small-4 medium-expand columns what">
        <p>Holding Cost</p>
      </div>
      <div class="small-4 medium-expand columns us">
        <p>--</p>
      </div>
      <div class="small-4 medium-expand columns them">
        <p class="bold">0-3%</p>
      </div>
    </div>
    <div class="row align-center get-offer">
    	<div class="small-12 medium-expand columns">
    		<span class="small-12"><a href="/" class="small-12 offer-link" style="font-weight: 400;">Get Your Offer</a></span>
    	</div>
    </div>
  </div>
</div> 
<!-- MAYBE make a partial for this next part-->
<div class="grid-two">
	<div class="top-header-contain" style="padding-bottom: 2.3em;">
    <h1 class="header-2" style="color:#68c0ea;"> The 1st safeguarded, hassle-free service to sell your home</h1>
    <h2 class="header-2">Everything traditional real estate does, only 100x better!</h2>
  </div>
<!-- </div> -->
	<div class="contain-row-2-mobile" style="margin-bottom: 2em;">
  	<div class="row">
  		<div class="small-4 medium-4 columns"><span class="make-space"></span></div>
  		<div class="small-4 medium-4 columns title">Openreal</div>
  		<div class="small-4 medium-4 columns title">Traditional Listing</div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">30-Day OpenReal Buy-Back Guarantee</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        <span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Agents don't guarantee price, days on the market or that the home will sell at all">?</span>
      </div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Dedicated full-time team of licensed experts</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>

  		<div class="small-4 medium-4 columns title">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        <span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Agents are usually part-time independent contractors with no support staff">?</span>
      </div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Paid on your satisfaction  to get you top dollar </div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        <span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Agents rely on commission that result in high pressure sales tactics to sell at any price">?</span>
      </div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Free proprietary home inspection and pre-owned certified warranty</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Easy-to-use app to manage your entire transaction from any device</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<!-- <hr class="hr-pricing">
  	<div class="row">
  		<div class="small-4 medium-4 columns text">Stuff here</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  	<hr class="hr-pricing">
  	<div class="row bottom-row">
  		<div class="small-4 medium-4 columns text">Stuff here</div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
  		<div class="small-4 medium-4 columns title"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
  	</div>
  </div> -->
	<!-- All rows thereafter label by # -->
</div>

<%= render 'get_offer' %>
