<section class="agent-dashboard">
	<div class="push-footer row expanded" >
		<div class="medium-9 columns dashboard-content">
			<%= render :partial => 'dashboard/side_panel' %>
		</div>
	</div>
</section>