
<div class="push-footer row expanded" style="margin-top: 70px;">
	<%= render :partial => 'dashboard/side_panel' %>

	<div class="medium-9 columns dashboard-content">
	    <h1>Profile page</h1>
	    <hr>
	    <div class="update-agent-details">
	    	<p>Name: <%= @agent.full_name.capitalize%></p>
	    	<p>Company: <%= @agent.company_name%></p>
	    	<%= link_to "Change your password", edit_agent_registration_path %>    	   
	    </div>
	    
	</div>
</div>
