<div class="row expanded push-footer" style="margin-top: 70px">
	<%= render :partial => 'dashboard/side_panel' %>
	
 <div class="medium-9 columns dashboard-content">
    <h1><%= @property.address_name %> 
    	<%if !(@property.note.blank?)%>
    	| 
    	<small><a href="#" data-open='note-info'>See Notes</a> </small>
    	<div  class="reveal" id="note-info" data-reveal style="padding: 0;">
    	<button class="close-button tiny" data-close aria-label="Close modal" type="button" style="color: white">
  			<span aria-hidden="true">&times;</span>
			</button>
				<div style="height: 50px; padding: 0; background: #68c0ea"></div>
    		<p style="margin-top: 0.5em; margin-left: 1em"><%= @property.note%><p>
    	</div>
    	<% end %>

    </h1>
    <hr>
		<%= render partial: 'agents/form_property'%>
	</div>
</div>