<div  class="push-footer row expanded services-ag">
	<%= render :partial => 'dashboard/side_panel' %>

	<div class="medium-9 columns dashboard-content" id="agent-listings-dash">
		<h2>Available Services: </h2>
		<hr>

		<p>Below are some of the options we offer you to give your clients the best experience when browsing through your listings.</p>
		<br>
		<div id='collection-component-95b970b5b94'></div>
	</div>
</div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'openreal.myshopify.com',
      apiKey: 'cd3cde9cfa477032701e9e0ecbcac9a3',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: 377332293,
        node: document.getElementById('collection-component-95b970b5b94'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "modal",
    "variantId": "all",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "options": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "View Product"
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          // "max-width": "calc(50% - 40px)",
          "width": "auto",
          "margin-left": "40px",
          "margin-bottom": "50px",
          "min-width": "240px"
        }
      },
      "button": {
        "background-color": "#68c0ea",
        "margin-bottom": "2em!important",
        ":hover": {
          "background-color": "#5eadd3"
        },
        ":focus": {
          "background-color": "#5eadd3"
        }
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "text": {
      "notice": "Taxes are added at checkout."
    },
    "styles": {
      "button": {
        "background-color": "#68c0ea",
        ":hover": {
          "background-color": "#5eadd3"
        },
        ":focus": {
          "background-color": "#5eadd3"
        }
      },
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#68c0ea",
        ":hover": {
          "background-color": "#5eadd3"
        },
        ":focus": {
          "background-color": "#5eadd3"
        }
      }
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#68c0ea",
        ":hover": {
          "background-color": "#5eadd3"
        },
        ":focus": {
          "background-color": "#5eadd3"
        }
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-40px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script>