var map;
var infoWindows = [];
var mapMarkers = [];
var updateOnDrag = false;


function initMap() {
  url = "/properties.json";
  if ($("#map").data("city") && $("#map").data("city") !== "") {
    url += "?city=" + $("#map").data("city");
  }

  $.getJSON(url, function(data){
    if ($("#map").data("lat") === "" || $("#map").data("lng") === "") {
      mapCenter = data.center === undefined ? {lat: 49.2512, lng: -123.1482} : data.center;
    } else {
      mapCenter = {lat: $("#map").data("lat"), lng: $("#map").data("lng")};
    }
    map = new google.maps.Map(document.getElementById('map'), {
      center: mapCenter,
      zoom: 10,
      zoomControl: true,
      zoomControlOptions: {
          position: google.maps.ControlPosition.TOP_RIGHT
      },
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: true,
      rotateControl: false,
      fullscreenControl: false,
      clickableIcons: false,
      mapTypeId: 'roadmap',
// Set color scheme for map
      style:[ 
      ]

    });

    data.properties.forEach(function(property){
      setMarkers(property);
      // console.log("SETMARKERS: " + setMarkers(property));
    });

    map.addListener('click', function() {
      closeAllInfoWin();
    });

    map.addListener('dragend', function() {
      // console.info("bound: ",this.getBounds().toJSON());
      if (updateOnDrag) {
        closeAllInfoWin();
        hideOverview();
        bounds = this.getBounds().toJSON();
        var filters = $('.listing-filters>form');
        filters.find('input[name="bound-east"]').val(bounds.east);
        filters.find('input[name="bound-west"]').val(bounds.west);
        filters.find('input[name="bound-north"]').val(bounds.north);
        filters.find('input[name="bound-south"]').val(bounds.south);
        filters.submit();
      }
    });

    var updateDiv = document.createElement('div');
    var updateControl = new UpdateControl(updateDiv, map);
    updateDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(updateDiv);
  });
}

function setMapOnAll(map) {
  for (var i = 0; i < mapMarkers.length; i++) {
    mapMarkers[i].setMap(map);
  }
}

function clearMarkers() {
  setMapOnAll(null);
}  

function removeMakers() {
  setMapOnAll(null);
  mapMarkers = [];
  infoWindows = [];
}

function setMarkers(property) {
  newMarker(property, newInfo(property));
}

function newMarker(property, infowindow){
  var marker = new google.maps.Marker({
    position: {lat: parseFloat(property.address.latitude), lng: parseFloat(property.address.longitude)},
    map: map,
    animation: google.maps.Animation.DROP,
    icon: pinSymbol("#68c0ea"),
    title: property.address.address_first,
    // zIndex: 5
    pid: property.id
  });

  marker.addListener('click', function() {
    // hides sold badges
    if(property.list_price_cents > 0){

      Array.prototype.forEach.call(document.getElementsByClassName('listing-badge sold'), function(ele){$(ele).hide()});

      closeAllInfoWin();
      infowindow.open(map, marker);
      $(".gm-style-iw").prev("div").hide();
    };
  });
  
  mapMarkers.push(marker);
  return marker;
}



function newInfo(property) {

  var propPic = '<div style="width: 170px;height: 97px;margin: 0;padding: 0;"> <img src="http://www.houseconstructioncompanysrilanka.gwisolutions.com/images/Single%20stroy%20House/AHC%20-%2016%20-%205.2mill.jpg"></div>' + '<p>' + property.address.address_first + '</p>'

  var infowindow = new google.maps.InfoWindow({
    content: property.address.address_first,
    // maxWidth: 200
    pid: property.id
  });

  infowindow.addListener('domready', function() {
    $('.listing-overview').hide();
    $.ajax({
      url: "/properties/" + infowindow.pid,
      method: 'get', 
      dataType: 'script'
    });
    toggleOverview(infowindow.pid);
    overviewToggled = true;
  });

  infoWindows.push(infowindow);

  return infowindow;
}

function updateMarkers(properties) {
  removeMakers();
  properties.forEach(function(property){
   
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(property.address.latitude), lng: parseFloat(property.address.longitude)},
      map: map,
      title: property.address.address_first,
      animation: google.maps.Animation.DROP,
      icon: pinSymbol("#68c0ea"),
      // zIndex: 5
      pid: property.id
    });

    var info = property.address.address_first;

    var infowindow = new google.maps.InfoWindow({
      content: info,
      // maxWidth: 200
      pid: property.id
    });

    infoWindows.push(infowindow);

    if(property.list_price_cents > 0){
      marker.addListener('click', function() {
        closeAllInfoWin();
        infowindow.open(map, marker);
        $(".gm-style-iw").prev("div").hide();
      });
    }

    mapMarkers.push(marker);

    infowindow.addListener('domready', function() {
      $('.listing-overview').hide();
      $.ajax({
        url: "/properties/" + infowindow.pid,
        method: 'get', 
        dataType: 'script'
      });
      toggleOverview(infowindow.pid);
      overviewToggled = true;
    });
  });
}

function closeAllInfoWin() {
  for (var i=0; i<infoWindows.length; i++) {
    infoWindows[i].close();
  }
}

function UpdateControl(div, map) {
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = '#fff';
  controlUI.style.border = '2px solid #fff';
  controlUI.style.borderRadius = '3px';
  controlUI.style.boxShadow = 'rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px';
  controlUI.style.margin = '10px';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Update result as I move the map';
  div.appendChild(controlUI);
  
  var controlText = document.createElement('div');
  var cb = document.createElement('input');
  cb.type = 'checkbox';
  cb.id = "update-checkbox";
  cb.name = "update-checkbox";
  cb.style.margin = '0';
  cb.style.marginLeft = '0.5rem';

  controlText.style.color = 'rgb(25,25,25)';
  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
  controlText.style.fontSize = '0.75rem';
  controlText.style.lineHeight = '2rem';
  controlText.style.paddingLeft = '0.5rem';
  controlText.style.paddingRight = '0.5rem';
  controlText.style.display = 'inline-block';
  controlText.style.cursor = 'pointer';
  controlText.innerHTML = 'Update result as I move the map';
  // controlText.insertBefore(cb, controlText.firstChild);
  controlUI.appendChild(cb);
  controlUI.appendChild(controlText);

  cb.addEventListener('click', function() {
    // alert('checked');
    if (cb.checked) {
      updateOnDrag = true;
    } else {
      updateOnDrag = false;
      clearBounds();
    }
  });

  controlText.addEventListener('click', function() {
    cb.click();
  });
}

function clearBounds() {
  var filters = document.getElementsByClassName("listing-filters")[0].children[0];
  filters.querySelectorAll('input[name="bound-east"]')[0].removeAttribute('value');
  filters.querySelectorAll('input[name="bound-west"]')[0].removeAttribute('value');
  filters.querySelectorAll('input[name="bound-north"]')[0].removeAttribute('value');
  filters.querySelectorAll('input[name="bound-south"]')[0].removeAttribute('value');
}
//  Style for marker pin
function pinSymbol(color) {
  return {
      path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
      fillColor: color,
      fillOpacity: 0.8,
      strokeColor: '#000',
      strokeWeight: 2,
      scale: 0.7,
 };
}
