var map;
var infoWindows = [];
var mapMarkers = [];
var updateOnDrag = false;


function initMap() {
  url = "/listings";
  if ($("#map").data("city") && $("#map").data("city") !== "") {
    url += "?city=" + $("#map").data("city");
  }

  $.getJSON(url, function(data){
    if ($("#map").data("lat") === "" || $("#map").data("lng") === "") {
      mapCenter = data.center === undefined ? {lat: 49.2400769, lng: -123.0282093} : data.center;
    } else {
      mapCenter = {lat: $("#map").data("lat"), lng: $("#map").data("lng")};
    }
    
    map = new google.maps.Map(document.getElementById('map'), {
      center: mapCenter,
      zoom: 11,
      zoomControl: true,
      zoomControlOptions: {
          position: google.maps.ControlPosition.RIGHT_BOTTOM
      },
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: true,
      rotateControl: false,
      fullscreenControl: false,
      clickableIcons: false,
      mapTypeId: 'roadmap',
// Set color scheme for map
      style:[ 
      ]

    });

    data.properties.forEach(function(property){
      if (property.list_price_cents > 0){
        setMarkers(property);
      }
      // console.log("SETMARKERS: " + setMarkers(property));
    });

    map.addListener('click', function() {
      closeAllInfoWin();
    });

    map.addListener('dragend', function() {
      // console.info("bound: ",this.getBounds().toJSON());
      if (updateOnDrag) {
        closeAllInfoWin();
        hideOverview();
        bounds = this.getBounds().toJSON();
        var filters = $('.listing-filters>form');
        filters.find('input[name="bound-east"]').val(bounds.east);
        filters.find('input[name="bound-west"]').val(bounds.west);
        filters.find('input[name="bound-north"]').val(bounds.north);
        filters.find('input[name="bound-south"]').val(bounds.south);
        filters.submit();
      }
    });

    var updateDiv = document.createElement('div');
    var updateControl = new UpdateControl(updateDiv, map);
    updateDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(updateDiv);
  });
}

function setMapOnAll(map) {
  for (var i = 0; i < mapMarkers.length; i++) {
    mapMarkers[i].setMap(map);
  }
}

function clearMarkers() {
  setMapOnAll(null);
}  

function removeMakers() {
  setMapOnAll(null);
  mapMarkers = [];
  infoWindows = [];
}

function setMarkers(property) {

  newMarker(property, newInfo(property));
}

function newMarker(property, infowindow){

  if (property.list_price_cents > 0){
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(property.address.latitude), lng: parseFloat(property.address.longitude)},
      map: map,
      animation: google.maps.Animation.DROP,
      icon: pinSymbol("#68c0ea"),
      title: property.address.address_first,
      // zIndex: 5
      pid: property.id
    });
  } else if (property.list_price_cents === 0){
    var marker = new google.maps.Marker({
        position: {lat: parseFloat(property.address.latitude), lng: parseFloat(property.address.longitude)},
        map: map,
        animation: google.maps.Animation.DROP,
        icon: pinSymbol("#fff"),
        title: property.address.address_first,
        // zIndex: 5
        pid: property.id
      });
  }

  marker.addListener('click', function() {
    // hides sold badges
    if(property.list_price_cents > 0){
      Array.prototype.forEach.call(document.getElementsByClassName('listing-badge sold'), function(ele){$(ele).hide()});
      
      closeAllInfoWin();
      infowindow.open(map, marker);
      $(".gm-style-iw").parent().addClass('gm-style-parent');
      $(".gm-style-iw").prev("div").hide();

      var latLng = {lat: marker.position.lat(), lng: marker.position.lng()};
  
      marker.setIcon(marker.icon = pinSymbol("lightgrey"));
      marker.setAnimation(marker.animation = google.maps.Animation.BOUNCE)
      marker.setAnimation(4);
      map.panTo(latLng);
      //See Test validity of latLng object in app.js if range error.
    };
  });
  
  mapMarkers.push(marker);

  return marker;
}

function newInfo(property) {

  var picture;
  if(property.photos[0]){
    var picture = property.photos[0].picture.url;
  }
  
  var propPic = '<div class="row infoWindowLink"><div class="column small-4" style="width: 150px;margin: 0;padding: 0; margin-bottom: 3px;"> <img src="' + picture + '"></div>' + '<div class="column small-6 end"><h4>$'+ (property.list_price_cents/100).toLocaleString() +'</h4><hr style="margin: 0;margin-bottom: 9px;"/><p style="margin: 0;">'   + property.address.address_first + '</p><span>'+ property.bedrooms + ' Bed</span> &middot;<span>'+ property.bathrooms + ' Bath</span>&middot;<span> Floor area ' + property.floor_area +' ft<sup>&#50;</sup> </span></div></div>'

  var infowindow = new google.maps.InfoWindow({
    content: propPic,
    maxWidth: 350,
    pid: property.id
  });
  infowindow.addListener('domready', function() {
    $('.listing-overview').hide();
    $.ajax({
      url: "/properties/" + infowindow.pid,
      method: 'get', 
      dataType: 'script'
    });
    toggleOverview(infowindow.pid);
    overviewToggled = true;
  });
  infoWindows.push(infowindow);

  return infowindow;
}


function updateMarkers(properties) {
  removeMakers();


  properties.forEach(function(property){
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(property.address.latitude), lng: parseFloat(property.address.longitude)},
      map: map,
      title: property.address.address_first,
      animation: google.maps.Animation.DROP,
      icon: pinSymbol("#68c0ea"),
      // zIndex: 5
      pid: property.id
    });

    // var info = property.address.address_first;
  var picture;
  if(property.photos[0]){
    var picture = property.photos[0].picture.url
  }


  var propPic = '<div class="row" style="width: 32.5em; text-align: left;"><div class="column small-4" style="width: 150px;margin: 0;padding: 0; margin-bottom: 3px;"> <img src="' + picture + '"></div>' + '<div class="column small-6 end"><h4>$'+ (property.list_price_cents/100).toLocaleString() +'</h4><p style="margin: 0;">'   + property.address.address_first + '</p><span>'+ property.bedrooms + 'Bed</span> &middot;<span>'+ property.bathrooms + 'Bath</span>&middot;<span> Floor area' + property.floor_area +' ft<sup>&#50;</sup> </span></div></div>'

    var infowindow = new google.maps.InfoWindow({
      content: propPic,
      maxWidth: 350,
      pid: property.id
    });

    infoWindows.push(infowindow);

    if(property.list_price_cents > 0){
      marker.addListener('click', function() {
        closeAllInfoWin();
        infowindow.open(map, marker);
        $(".gm-style-iw").prev("div").hide();
        $(".gm-style-iw").parent().addClass('gm-style-parent');

        marker.setIcon(marker.icon = pinSymbol("lightgrey"));
        marker.setAnimation(marker.animation = google.maps.Animation.BOUNCE)
        marker.setAnimation(4);

        var latLng = {lat: marker.position.lat(), lng: marker.position.lng()};
        map.panTo(latLng);
      });
    }

    mapMarkers.push(marker);

    infowindow.addListener('domready', function() {
      $('.listing-overview').hide();
      $.ajax({
        url: "/properties/" + infowindow.pid,
        method: 'get', 
        dataType: 'script'
      });
      toggleOverview(infowindow.pid);
      overviewToggled = true;
    });
  });

}

function closeAllInfoWin() {
  for (var i=0; i<infoWindows.length; i++) {
    infoWindows[i].close();
  }
}

function UpdateControl(div, map) {
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = '#fff';
  controlUI.style.border = '2px solid #fff';
  controlUI.style.borderRadius = '3px';
  controlUI.style.boxShadow = 'rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px';
  controlUI.style.margin = '10px';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Search as I move the map';
  div.appendChild(controlUI);
  
  var controlText = document.createElement('div');
  var cb = document.createElement('input');
  cb.type = 'checkbox';
  cb.id = "update-checkbox";
  cb.name = "update-checkbox";
  cb.style.margin = '0';
  cb.style.marginLeft = '0.5rem';

  controlText.style.color = 'rgb(25,25,25)';
  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
  controlText.style.fontSize = '0.75rem';
  controlText.style.lineHeight = '2rem';
  controlText.style.paddingLeft = '0.5rem';
  controlText.style.paddingRight = '0.5rem';
  controlText.style.display = 'inline-block';
  controlText.style.cursor = 'pointer';
  controlText.innerHTML = 'Search as I move the map';
  // controlText.insertBefore(cb, controlText.firstChild);
  controlUI.appendChild(cb);
  controlUI.appendChild(controlText);

  cb.addEventListener('click', function() {
    // alert('checked');
    if (cb.checked) {
      updateOnDrag = true;
    } else {
      updateOnDrag = false;
      clearBounds();
    }
  });

  controlText.addEventListener('click', function() {
    cb.click();
  });
}

function clearBounds() {
  var filters = document.getElementsByClassName("listing-filters")[0].children[0];
  filters.querySelectorAll('input[name="bound-east"]')[0].removeAttribute('value');
  filters.querySelectorAll('input[name="bound-west"]')[0].removeAttribute('value');
  filters.querySelectorAll('input[name="bound-north"]')[0].removeAttribute('value');
  filters.querySelectorAll('input[name="bound-south"]')[0].removeAttribute('value');
}
//  Style for marker pin
function pinSymbol(color) {
  return {
      path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
      fillColor: color,
      fillOpacity: 0.8,
      strokeColor: '#000',
      strokeWeight: 2,
      scale: 0.7,
 };
}