<div class="shows-note">
	<h4 class="note-listing">Notes on listing: <%= "#{p.address.address_second} #{p.address.address_first} , #{p.address.city}" %></h4>
	<button class="close-button show-for-small-only" data-close aria-label="Close modal" type="button" style="color: white;">
	 <span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- <hr> -->
<p style="font-size: 15px; margin-top: 0.5em; margin-left: 1em;">
	<%= p.note%>
</p>
<p style="margin-top: 0.5em; margin-left: 1em;">
	<small>Once you are ready to resubmit your listing click 
	<strong><%= link_to 'here', agent_property_status_path(p.id), remote: true, method: :patch%></strong>.
	</small>
</p>