<div class="row expanded push-footer" style="margin-top: 60px;">
	<section class="columns small-12 medium-6">
		<h3>Import your listings for free!</h3>
	</section>
	<section class="columns medium-6 show-for-medium-only">
		<p>Picture here</p>
	</section>
</div>