//Agents

.agent_landingpage {

	min-height: calc(100vh - 266px);
	.header {
		font-size: 20px;
		font-weight: 400;
		padding-top: 8rem;
		padding-bottom: 8rem;
		background-image: url("paper.gif");
		text-align: center;
		//border: 1px solid grey;

		h2 {
			color: #52b7e7;
		}

		h6 {
			font-weight: 400;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.65);
			color: white;
		}

		.small-12:last-child {
			padding-top: 5rem;

			span {
				padding: 1rem 5rem;
				background-color: #52b7e7;
				color:white;
			}
		}

	}

	.info {

		
		h6 {
			display: inline-block;
			text-transform: uppercase;
			font-weight: 200;
			font-size: smaller;
		}
		h3 {
			font-weight: 300;
			
		}

		.boxed {
			text-align: -webkit-auto;
			display: inline-block;

			img {
				//display: inline-block;
				max-width: 50px;
			}
		}

		.contained-paragraphs {
	    font-weight: 100;
	    text-align: justify;
	    font-size: 1rem;

	    .sole-paragraph {
	    	margin-bottom: 0.5rem;
	    }

	    .small-print {
	    	line-height: 1rem;
	    	color: grey;
	    }

	    span {
	    	display: block;
    		margin-top: 1rem;

    		a {
			    text-decoration: none;
			    padding: 0.5rem 0.5rem;
			    font-weight: 100;
			    border: 0.5px solid #52b7e7;
			    background: #52b7e7;
			    color: white;
	    	}
	    }

		}

	}

	@media screen and (max-width: 450px){
		.header {
			.small-12:last-child {
				span {
					padding: 0.5rem 3rem;
				}
			}
		}

		.info {
			h3 {
				font-weight: 400;
			}
			.boxed {
				margin-bottom: 1.5rem;
			}
			.columns:nth-child(1),
			.columns:nth-child(2) {
				margin-bottom: 2rem;
			}
		}
}
}

