@import "foundation_and_overrides";

#side-panel {
  background-color: $panel-bg;
  // min-height: calc(100vh - 60px - 230px);
  position: fixed;
  height: 100%;
  top: 0;
  padding: 0;
  z-index: 9;

  @include breakpoint(small only) {
    position: relative;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top: 4rem;

    @include breakpoint(small only) {
      padding: 0;
      text-align: center;
    }

    li {
      margin: 0.5rem 0;

      @include breakpoint(small only) {
        display: inline-block;
        padding: 0 1rem;
        margin: 0;
      }

      &.active,
      &:hover {
        background-color: $medium-gray;
      }

      a {
        color: $black;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 3rem;
        letter-spacing: 1px;
        font-weight: 600;
        display: block;
        padding-left: 2rem;

        @include breakpoint(small only) {
          padding: 0;
          display: inline-block;
        }

      }
    }
  }
}