@import 'variables';

#side-panel {
  background-color: $panel-bg;
  // min-height: calc(100vh - 60px - 230px);
  position: fixed;
  height: 100%;
  top: 0;
  padding: 0;
  z-index: 9;

  @include breakpoint(small only) {
    position: relative;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top: 4rem;

    @include breakpoint(small only) {
      padding: 0;
      text-align: center;
    }

    li {
      margin: 0.5rem 0;

      @include breakpoint(small only) {
        display: inline-block;
        padding: 0 0.75rem;
        margin: 0;
      }

      &.active,
      &:hover {
        background-color: $medium-gray;
      }

      &.active>a {
        font-weight: 600;
      }

      a {
        color: $black;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 3rem;
        letter-spacing: 1px;
        display: block;
        padding-left: 2rem;

        @include breakpoint(small only) {
          padding: 0;
          display: inline-block;
        }

      }
    }
  }
}

.dashboard-content {
  h1 {
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Questrial', sans-serif;
    line-height: 1.5rem;
    margin: 0;
    margin-top: 1.25rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    a {
      color: $black;
    }
  }
  img {
    //display: none;
    width: 101px;
  }
  .img-upload {
    display: inline;
  }
}

.dashboard-list {
  border: 1px solid $border-color;
  margin-bottom: 1rem;

  .dashboard-list-header {
    background-color: $panel-bg;
    padding: 1rem;
    border-bottom: 1px solid $border-color;

    select {
      font-size: 0.75rem;
      height: 2.125rem;
    }
  }

  .dashboard-list-body {
    margin: 0;
    padding: 1rem;
    list-style-type: none;

    .dashboard-list-item {
      width: 100%;

      &:not(:last-child):after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $border-color;
        margin: 1rem 0;
        float: left;
        clear: both;
      }
    }
  }

  select {
    font-size: 0.75rem;
    height: 2rem;
  }

}

.dashboard-listing-img {
  a {
    display: block;
  }
}

.dashboard-listing-overview {
  padding-left: 1rem;
  font-size: 0.75rem;

  a {
    font-size: 0.75rem;
  }
}

.dashboard-form {
  .btn {
    margin: 0 0 1rem;
  }
}

.dashboard-contact-form {

  list-style-type: none;

}
.push-footer {
  min-height: calc(100vh - 270px)  
}

.dashboard-listing-status {

  width: 100px;

}

.dashboard-aform {

  margin-bottom: 10px;
  margin-top: 10px;
  text-align: -webkit-center;

  .titles {
    padding: 1px 1px;

    p {
      font-family: 'Questrial', sans-serif;
      background: rgba(104, 192, 234, 0.65);
      text-align: -webkit-center;
      color: white;
    }
  }

  .details {
    p{
      text-align: -webkit-center;
      overflow-wrap: break-word;
    }
  }

}

//Edit agent form
.edit-aform{
  margin-bottom: 0;
  //width: 40%;
 // margin-left: 2em;

  p {
    font-weight: 200;
    font-size: 1.5em;
    color: #68c0ea;
    margin-bottom: -20px;
    margin-top: 1.5em;
  }

  .submit {
    background-color: white;
    border: 3px solid #68c0ea;
    width: 8em;
    margin-bottom: 0.5em;
    color: #68c0ea;
  }
  .cancel {
    color: #68c0ea;
    margin-bottom: 2em;
    font-size: smaller;
  }

  label {
    display: inline-block;
  }
}

#dash_photo_list {
  display: inline;
  position: relative;

  h3 {
   text-align: left;
  }

  .current-feat-photo {
    position: absolute;
    z-index: 2;
    left: 175px;
    top: -39px;
    color: white;
    background: #3adb76;
    padding: 3PX;
    cursor: default;
  }

  .dashboard-img-container {
    display: inline;
    position: relative;
    margin-bottom: 1.2px;

    
    .dashboard-img-del {
      display: none;
      position: absolute;
      z-index: 2;
      left: 3px;
      margin-top: 4px;
      background: white;
      color: red;
      border: 1px solid red;
    }

    .dashboard-feat-photo { 
      position: absolute;
      display: none;
      z-index: 2;
      left: 85%;
      color: white;
      padding: 4px;
      background: #3adb76;
      border: 1px solid #3adb76;
    }

  }
  
  .dashboard-img-container:hover {
    .dashboard-img-del {
      display: inline;
    }
    .dashboard-feat-photo {
      display: inline;
    }

  }
}
/****************
 *              *
 * Agents  page *
 *              *
 ****************/

#agent-sign-in-container {
    border: 4.5px solid #68c0ea;
    box-sizing: border-box;
    box-shadow: 1px 1px 27px;
    margin-top: 7.5em;
    margin-bottom: 1.5em;
    padding: 1em 1em;
    font-family: museo-sans, Times;

    #agent-intro-header{
      text-align: left;

      .agent-welcome-text {
        margin-top: 2em;
        p {
          margin-bottom: 0;
          font-size: 20px;
        }
        p:nth-child(2) {
          color: $primary-color;
          font-size: 25px;
          padding-right: 1em;
          line-height: 1.2;
        }
      }

      .agent-welcome-photo {
        border-radius: 100%;
     /* border: 1px solid #68c0ea; */
        width: 129px;
        overflow: hidden;
        padding: 1px 23px;
        margin-left: 120px;
        img {
          
        }
      }
    }

    #agent-sign-up-form {
      text-align: left;
      margin-top: -2em;

      .agent-password-form {

        label {
          font-size: 0.975rem;
          display: inline-block;
          text-align: left;
        }
      }
    }

    #agent-perks {
      ul {
        text-align: left;
        list-style: none;
        margin: -1px;
        font-size: 14px; 
        li:before {
          content: "\2713\0020";
          color: #3adb76;
          font-weight: bolder;
        }
      }
    }
}

@media screen and (max-width: 425px){
  #agent-intro-header {
    text-align: center!important;
    margin-top: 0!important;
    .agent-welcome-text {  
      p {
        margin-bottom: 0.5em!important;
      }
      p:nth-child(2){
        padding-right: 0!important;
      }
    }

    .agent-welcome-photo {
      img {
        margin-left: 0!important;
      }
    }
  }
  #agent-sign-up-form {
    //margin-top: 1.5em!important;
    .agent-password-form{
      text-align: center!important;
      label {
        display: block!important;
      }
    }
  }
}

/****************
 *              *
 * Agents  Dash *
 *              *
 ****************/

