@import 'variables';


/****************
 *              *
 * listing page *
 *              *
 ****************/




body.properties {
  height: 100vh;
}

body.properties.show {
  height: auto!important;
}


@media screen and (max-width: 400px){
  body.properties{
    height: 100vh!important;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

body.properties.new {
  height: auto!important;
  overflow-y: auto!important;
}
body.properties.create {
  height: auto!important;
  overflow-y: auto!important;
}

.map-header {
 margin-top: 0.7rem;
 margin-left: 1.24rem;
 //background-color: #68c0ea;
 z-index: 10;
 position: absolute;

   .switch-btn {
    color: #68c0ea;;
    background: white;
    border: solid #68c0ea;
    margin-left: -12px;
    margin-top: -3px;
    //border: 1px solid #68c0ea;
  }

  .listings-map-btn {
    display: none;
  }

} 

#map {
  height: calc(100vh - 62px);
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include breakpoint(small only) {
    // minus the height of .map-header
    height: calc(110vh - 62px - 60px);
   //height: calc(109vh - 67px - 60px)
  }

  .gm-style img{
    max-width: 100%;
  }

  .gm-style-iw {
    width: 370px;
  }

  .gm-style-parent {
    background-color: white;
    //width: 372px!important;
    width: initial!important;
  }

  .gm-style-iw + div{
    display: none;
  }

  .infoWindowLink{
    //width: 100%;
    width: 130%!important;
  }

  @media screen and (max-width: 767px){
    .infoWindowLink{
      width: 100%;
    }
  }

  @media screen and (max-width: 390px){

    .gm-style-parent{
      //background-color: red;
      //top: 40em!important;
      //top: 73px;
      //position: absolute!important;
      //z-index: 10;
      width: 279px !important;

    }

    .gm-style-iw {
      width: 370px!important;
    } 

    .gm-style-iw > div {
      max-width: 300px!important;
    }

    .infoWindowLink{
     // width: 23.7em!important;

      p {
        font-size: 10px;
        font-weight: bold;
      }
    }
  }

}

@media screen and (max-width: 320px){
  //.map-header {
   // margin-top: 3.7rem!important;
    //margin-left: 12.24rem!important;
  //}

  .gm-style-parent {
    width: 300px !important;
  }

  //Div with border content
  .gm-style-border {
    //width: 281px!important;
    width: 300px!important;


  }

  .gm-style-bordercontainer {
   // width: 279px!important;
    width: 298px!important;
  }
}
#listings {
  // box-shadow: 0 0 0 -5px rgba(0,0,0,0.2);
  background-color: $panel-bg;
  -webkit-overflow-scrolling: touch;

  .listing-header {
    height: 60px;
    padding: 0 1.25rem;
    background: white;
    margin-bottom: 15px;

    #filter-btn {
      display: inline-block;
      color: #68c0ea;
      font-weight: 500;
      border: solid #68c0ea;
      // vertical-align: middle;
      // line-height: 60px;
      border-radius: 0;
    }

    #filter-btn:hover {
      color: white;
      background-color: #68c0ea;
    }



    #close-btn {
      display: inline-block;
      color: #68c0ea;
      font-weight: 500;
      border: solid #68c0ea;
      border-radius: 0;
    }

    #close-btn:hover {
      color: white;
      background-color: #68c0ea;
    }

    .listing-count {
      height: 60px;

      span {
        vertical-align: middle;
        line-height: 60px;
      }
    }

    .sort-btn {
      display: inline-flex;
      color: #68c0ea;

      li > a:hover {
        color: white;
        background-color: #68c0ea;
      }
    }


  }

  .listing-footer {
    position: absolute;
    bottom: 15px;
    height: 60px;
    width: 100%;
    padding: calc((60px - 34px) / 2) 1.25rem;
    background-color: $panel-bg;
    z-index: 20;
    text-align: right;
    display: none;

    .btn {
      width: 100%;
      display: block;
    }
  }

  .listing-body {
    position: relative;
    z-index: 5;

    .listing-filters {
      &.open {
        display: block;
      }
      position: absolute;
      display: none;
      background-color: $panel-bg;
      width: 100%;
      height: calc(100vh - 60px - 62px);
      overflow-y: auto;
      z-index: 10;
      padding: 1.25rem;

      form {
        .filter-buttons {
          padding-top: 2.5rem;
          text-align: right;
          margin-bottom: 3.5rem;
        }
      }

      @media screen and (max-width: 320px){
       form{
        .filter-buttons {
          font-size: 14px;
        }
       }
      }

      #submit-filter {
        display: inline-block;
        color: #68c0ea;
        font-weight: 500;
        border: solid #68c0ea;
        border-radius: 0;
        background-color: white;
      }


      #submit-filter:hover{
        color: white;
        background-color: #68c0ea;
      }

      #clear-filter {
        display: inline-block;
        color: #68c0ea;
        font-weight: 500;
        border: solid #68c0ea;
        border-radius: 0;
        background-color: white;
      }
      
      #clear-filter:hover {
        color: white;
        background-color: #68c0ea;
      }

      #cancel-btn {
        color: white;
        background-color: #68c0ea;
        border-radius: 0;
        border: solid #68c0ea;
      }

      #cancel-btn:hover {
        display: inline-block;
        color: #68c0ea;
        font-weight: 500;
        border: solid #68c0ea;
        border-radius: 0;
        background-color: white;
      }
    }


    width: 100%;
   // height: calc(100vh - 60px - 62px); //viewport height - listing header - navbar height
    height: calc(98vh - 60px - 62px);
    margin: 0;
    overflow: hidden;

    >ul {
      overflow-y: auto;
      height: 100%;
      //margin: 0;
      margin: 0 10.5px;
      // position: relative;

      >.listing-overview {
        position: absolute;
        top: 0;
        background-color: $panel-bg;
        width: 100%;
        //height: calc(100vh - 60px - 62px - 60px);
        overflow-y: auto;
        z-index: 10;
        display: none;
        padding-right: 22px;
        bottom: 0;

        // padding: 1.25rem;

        .orbit-container {
          height: auto!important;
        }
        .listing-img {
          height: 240px!important;
          -webkit-transition: all ease-in-out 0.1s;
          transition: all ease-in-out 0.1s;
          background-color: #dedede;
          background-size: cover;
          background-position: center;
          position: relative;
          max-height: initial!important;
          

          .listing-badge {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1.25rem;

            background-color: $primary-color;
            text-align: center;
            color: $white;

            span {
              display: table-cell;
              vertical-align: middle;
              font-size: 1rem;
            }
          }
          .listing-price {
            position: absolute;
            bottom: 2.25rem;
            background-color: rgba(45,45,45,0.9);
            color: $white;
            padding: 0.5rem 0.75rem;

            sup {
              top: -0.5rem;
              font-size: 85%;
              font-weight: 600;
            }

            span {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }

        .listing-meta,
        .listing-description {
          padding: 0.5rem 1rem;

        }


        .listing-description {
          clear: both;
          background-color: $white;
          margin-top: 13.5px;
          //height: 42vh;
        }
      }

      >li {
        background-color: $white;
        display: block;
        border-bottom: 1px solid $border-color;
        margin-bottom: 2rem;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        a {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          z-index: 9;

        }

        .listing-img {
          height: 240px;
          -webkit-transition: all ease-in-out 0.1s;
          transition: all ease-in-out 0.1s;
          background-color: #dedede;
          background-size: cover;
          background-position: center;
          position: relative;

          .listing-badge {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 1.25rem;

            background-color: $primary-color;
            text-align: center;
            color: $white;

            span {
              display: table-cell;
              vertical-align: middle;
              font-size: 1rem;
            }
          }

          .listing-price {
            position: absolute;
            bottom: 2.25rem;
            background-color: rgba(45,45,45,0.9);
            color: $white;
            padding: 0.5rem 0.75rem;

            sup {
              top: -0.5rem;
              font-size: 85%;
              font-weight: 600;
            }

            span {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }
       .listing-badge {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.5rem 1.25rem;

          background-color: $primary-color;
          text-align: center;
          color: $white;

          span {
            display: table-cell;
            vertical-align: middle;
            font-size: 1rem;
          }
        }

        .listing-meta {
          padding: 0.5rem 0.75rem;

          .mapsect-icons {
            width: 25px;
            vertical-align: sub;
          }
          .mapsect-icons:first-child {
            vertical-align: text-top;
          }
          .threed {
            margin-left: 17rem;
            margin-top: -18px;
            display: inline-block;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 809px){
  #sort select{
    width: 7em!important;
    padding-top: 8px!important;
  }
}

@media screen and (max-width: 320px){
  #sort select{
    width: 5.8em !important;
  }
}

/* sold properties hide/show button on filter */
.switch-paddle {
  margin-top: 3px!important;
}
.switch-paddle::after {
  height: 1rem!important;
  width: 1rem!important;
  top: 0.45rem!important;
}
input:checked ~ .switch-paddle::after {
    left: 2.8rem!important;
}
.switch-inactive {
  right: 6%!important;
}

/*******************
 *                 *
 * listing details *
 *                 *
 *******************/
.photo-carousel {
  cursor: pointer;

  .photo-slide {
    // height: calc(50vh - 62px);
    height: 490px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(http://placehold.it/1200)
  }
}

.thumbnail-listing {
  display: inline-block;
  //padding-left: 130px;
  margin-top: 5px;
  padding-right: 7em!important;
}

.iframe-mport {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
}

.metaport-container {
  margin-bottom: -15%;
}

.price-badge-listing {
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
}

.medium-form {
  border: 2px solid whitesmoke;
  padding-bottom: 2rem;
  float: none!important;
}

.price-below-forsale {
  font-weight: 200;
  
}


.property-overview {
  background-color: $white;
  border-bottom: 1px solid $border-color;
  // height: 100px;
  padding: 1rem 0;

  .property-status {
    // margin-bottom: 0.25rem;
    background: $primary-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
  }

  .property-address {
    h1 {
      margin-bottom: 0.25rem;
      font-size: 1.75rem;
      display: inline;
      vertical-align: baseline;
      line-height: 1;
    }

    h4 {
      margin-bottom: 0.25rem;
      font-size: 1rem;
      color: $dark-gray;
      display: inline;
      vertical-align: baseline;
      margin-left: 0.75rem;
    }
  }

  .property-bullets {
    h3 {
      font-size: 1rem;
    }
  }

  #sticky-top {
    margin-top: 0.9rem;
    height: calc(1.75rem + 1.625rem * 2 - 1rem);
  }
}

.property-details {
  background-color: $panel-bg;
  padding: 1rem 0;
  font-size: 0.9rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    color: $dark-gray;
  }

  p {
    // font-size: 0.9rem;
  }

  #details-column {
    // padding-right: 2rem;

    #listing-map {
      height: 400px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .property-facts,
  .property-features,
  .property-map {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1rem 0;
    line-height: 1.75rem;
  }

  .property-features,
  .property-map {
    border-top: none;
  }

  .property-map {
    border: none;
    padding-bottom: 0;
  }

  .floating-container {
    position: relative;
    margin-top: calc(-6.15rem - 1rem - 2px);

    .floating-box {
      

      &.is-floating {
        position: fixed;
        top: 1rem;
      }

      &.bottom {
        position: absolute;
      }

      .property-price {
        width: 100%;
        border: 1px solid $border-color;
        border-radius: $global-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $white;
        text-align: center;
        // height: 5rem;
        // margin-top: calc(-1rem - 5rem - 2px);
        padding: 1.625rem 0;

        h2 {
          font-size: 1.75rem;
          // line-height: 5rem;
          line-height: 1;
          vertical-align: middle;
          margin: 0;

          small {
            font-size: 0.9rem;
            font-weight: 100;
            color: $dark-gray;
          }
        }
      }

      .contact-form {
        border: 1px solid $border-color;
        border-radius: $global-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        background-color: $white;
        padding: 1.25rem $grid-column-gutter/4;

        .btn-large {
          width: 100%;
          margin: 0 0 1rem;
        }

        .legalese {
          font-size: 0.5rem;
          color: $dark-gray;
        }
      }
    }
  }
}

/*******************
 *                   *
 * NEW Property FORM *
 *                   *
 *******************/

#new-property-form {
  //padding-bottom: 1rem;
  margin-top: 60px;

  .sales-box-wrapper {

    border: 4.5px solid #68c0ea;
    box-sizing: border-box;
    box-shadow: 1px 1px 27px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em 1em;
  }

  h3 {
    font-size: 1.5rem;
    color: #68c0ea;
  }
  img {
    background-color: #68c0ea;
    border-radius: 100%;
    width: 13%;
    float: right;
    margin-bottom: 1em;
    margin-right: 2.5em;
  }

  input[type=submit]{
    color: #68c0ea;
    background: white;
    padding: 0.2em 2.5em;
    font-weight: 400;
    //border: 4px solid;
  }
  input[type=submit]:hover {
    background: #68c0ea;
    color: white;
   // border: #68c0ea;
  }

  .progress {
    .progress-meter {
      border-radius: 0;
    }
  }

  .form-error {
    display: block;
  }

  .file-upload-box {
    background-color: $panel-bg;
    border-radius: $global-radius;
    width: 100%;
    text-align: center;
    min-height: 15rem;
    margin-bottom: 1rem;
    position: relative;
  }

  .file-upload {
    // padding: calc((20rem - 1rem) / 2 ) 0;

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    + label {
      font-size: 1em;
      padding: 0.25rem 1.25rem;
      color: white;
      background-color: $primary-color;
      border-radius: $global-radius;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate (-50% , -50%);
    }

    &:focus + label,
    & + label:hover {
      color: #fefefe;
      background-color: #4dd2ff;
      border-color: #4dd2ff;
      border-bottom-color: #0086b3;
    }

    &:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}

//Listing map sneak peak

.listing-sneak-peak {
    padding: 9px 15px;
    background: white;
    border: solid 0.5px grey;
    margin-left: 1px!important;
    margin-right: 1px!important;

    p:first-child{
      margin-bottom: 0;
      color: #68c0ea
    }
    span {
      font-weight: 300;
      font-size: 14px;
    }

    p:nth-child(2){
      font-weight: 100; font-size: 15px;
    }

}


@media screen and (max-width: 768px){
  #new-property-form img {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 1em;
  }
}

@media screen and (max-width: 590px){
  .thumbnail-listing {
    display: none;
  }
  .iframe-mport{
    width: 100%;
    height: 100%;
  }
  .metaport-container {
    margin-bottom: 0;
  }

  .medium-form {
    border: 0;
  }
  .price-badge-listing {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
}
@media screen and (max-width: 500px){
  .property-overview {
    border-bottom: 0;
    .property-address {
      h4 {
        display: block;
        margin-left: 0;
      }
    }
  }
  .property-details {
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px){
  #listings .listing-body > ul {
    overflow-y: auto;
    height: 100%;
    margin: 0;
  }
  #listings .listing-body > ul > .listing-overview {
    padding: 0;
  } 
}

@media screen and (max-width: 638px){
  .float-left-small-screen {
    text-align: center;
  }
}

@media screen and (min-width: 430px) and (max-width: 639px){
  #listings .listing-body > ul > li .listing-meta{
    padding: 0.5rem 8.75rem!important;
  }
}
//medium maps listings
@media screen and (min-width: 960px) and (max-width: 1020px) {
  #listings .listing-body > ul > li .listing-meta{
    .float-right {padding: 0px 7rem!important;}
  }
}

@media screen and (min-width: 640px) and (max-width: 1020px){
    #listings .listing-body > ul >li .listing-meta {
      .center-text {
       text-align: center;
      }

      .text-right {
        //padding: 0 107px!important;
      }
  }
}

@media screen and (min-width: 641px) and (max-width: 768px){
  #listings .listing-body > ul > li .listing-meta {
    .float-none {
      float: none!important;
      padding: 0 68px!important;
    }
  }
}

// LISTING_OVERVIEW
@media screen and (min-width: 372px) and (max-width: 639px){
  div.adjust-pad {
    padding-left: 88px!important;
    padding-right: 32px!important;
  } 
}

@media screen and (max-width: 430px) and (min-width: 402px){
    padding-left: 10.5rem !important;
    padding-right: 7rem !important;
}
@media screen and (max-width: 400px) and (min-width: 371px){
  padding-left: 88px !important;
  padding-right: 32px !important;
}

@media screen and (min-width: 568) and (max-width: 569px){
  div.adjust-pad{
    padding-left: 14.5rem !important;
    padding-right: 11rem !important;
  }
}
@media screen and (min-width: 426px) and (max-width: 639px){
    text-align: center;
    padding-left: 6rem!important;
    margin-left: 10rem;
    padding-right: 13rem!important;
}
@media screen and (min-width: 630px) and (max-width: 639px){

  div.adjust-pad{
    text-align: center;
    padding-left: 7rem!important;
    margin-left: 9.5rem;
    padding-right: 13rem!important;
    }
}
@media screen and (min-width: 590px) and (max-width: 615px){

  div.adjust-pad{
    text-align: center;
    padding-left: 6rem!important;
    margin-left: 10rem;
    padding-right: 13rem!important;
    }
}

@media screen and (min-width: 589px) and (max-width: 598px){
  div.adjust-pad{
    text-align: center;
    padding-left: 5rem!important;
    margin-left: 10.5rem;
    padding-right: 13rem!important;
  }
}
@media screen and (min-width: 401px) and (max-width: 430px){
  div.adjust-pad{
    text-align: center;
    padding-left: 6rem !important;
    margin-left: 0rem!important;
    padding-right: 3rem !important;
  }
}

@media screen and (max-width: 425px){
  .listing-header {
    margin-bottom: 0px!important;
  }
}

@media screen and (min-width: 620px){
	#property_upgrade_cost {
		width: 75%;
	}
}
