@import 'variables';

$deep-blue-color: #2ba8de;

// how it works page
#howitworks {
   // margin-top: 90px;
   // border-top: 1px solid rgba(128,128,128,0.33);
    padding-top: 40px;
   // border-bottom: 1px solid rgba(128,128,128,0.33);

  #howitworks-nav {

    .this {
      padding: 10px 25px;
      min-width: 250px;
      max-height: 300px;
      background: white;
      box-sizing: border-box;
      box-shadow: 2px 2px 21px lightgray;

      h5 {
        color: $primary-color;
        text-align: center;
      }

      p {
        padding-top: 12px;
        text-align: center;
        img {
          width: 13%;
        }
      }

      .form-start {
        input:last-child {
          //background: #68c0ea;
         // color: white;
         // border: none;
          width: 100%;
          font-size: large;
         // height: 38px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          text-align: center;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          text-align: center;
        }
        :-ms-input-placeholder { /* IE 10+ */
          text-align: center;
        }
        :-moz-placeholder { /* Firefox 18- */
          text-align: center;
        }
      }
    
      ul {
        list-style: none;
        font-size: 18px;
        text-align: center;
        margin: 0;


        li {
          text-align: center;
          display: block;
          font-weight: 400;

          a {
            text-decoration: none;
            color: $primary-color;
            font-size: 1.3rem;
          }
        }

      }
    }
  } 

  #howitworks-part,
  #inspection,
  #closing
   {
    list-style: none;
    
    .is-accordion-submenu-parent > a:after{
      right: -2rem;

    }
    .is-accordion-submenu-parent:first-child > a.up:after{
      transform: scaleY(1)
    }
    .is-accordion-submenu-parent > a.down:after {
      transform: scaleY(-1);
    }

    .is-accordion-submenu-parent >a.inverse:after {
      transform: scaleY(-1);
    }


    .is-accordion-submenu-parent > a.up:after {
      transform: scaleY(1);
    }



    .text-align {
     // text-align: center;
      font-weight: 200;
    }

    a > h3 {
      display: inline-block;
      //color: $primary-color;
      color: #3c3c3c;
      margin-left: 16px;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 1rem;
    }

    
    a:focus {
      outline: transparent!important;
    }

    h4, p {
      text-align: left;
     // padding-left: 90px;
    }

    h4 {
      font-weight: 300;
    }

    p {
      font-weight: 200;
    }



  }
}

@media screen and (max-width: 639px){
  a > hr {
    display: none;
  }

  #howitworks {
    padding-top: 40px;
  }
}


#faq-content,
#terms-content {
  padding-right: 1rem;

  .faq-section,
  .terms-section {
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 5px;
      width: 2rem;
      height: 2px;
      left: 0;
      background-color: $primary-color;
    }
  }

  h3 {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 300;
    font-size: 15px;
  }

  .terms-section {
   text-align: justify;
  }
  .terms-section h4 {
    text-align: center;
  }
}

#panel2, #panel3 {
  .paragraph {
    font-weight: 100;
    text-align: justify;
  }
  padding-top: 2em;
}

@media #{$small-only} {
  #faq-content {
    padding-right: 0;

    p {
      font-size: 14px;
    }
  }
}
