@import 'variables';


// how it works page
#howitworks {
  #hero {
    height: 20rem;
    background-color: $primary-color;

    h1 {
      font-size: 2.75rem;
    }
  }

  .testclass {
    color: red;
  }

  .steps-left {
    img {
      display: block;
      border-radius: 50%;
      margin-top: 2.75rem;
      @include translate(0,-25%);
    }
  }

  .steps-right {
    position: relative;
    //padding-left: 6rem;

    .order {
      position: absolute;
      margin-left: -4rem;

      h2 {
        font-family: 'Helvetica Neue', Arial;
        font-size: 5.5rem;
        line-height: 1;
        color: $medium-gray;
        font-size: 80px;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 100px;
      }
    }

    h3 {
      font-weight: 100;
      color: $black;
      margin-top: 2.75rem;
    }

    p {
      font-weight: 100;
      color: $dark-gray;
    }
  }

  .x li {
    padding-top: 25px;
    width: 11em;
    height: 9em;
    border-radius: 9px;
  }

  .title_icons {
    width: 3rem;
  }
  a.remove-greybkgr {
    background-color: transparent;
    color: white;
  }
  .tabs-title {
    border: 1px solid white;
    width: 10em;
    margin: 0 0.5em;
    padding-top: 0.5em;
  }

  .tabs-title a {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .tabs-title:hover {
    box-sizing: border-box;
    box-shadow: 1px 1px 10px whitesmoke;
    cursor: pointer;
  }

  .icon-holder {
    background-color:#6ec2ea;
    margin-top: 3em; 
  }

  a + h6 {
    display: block;
    line-height: 2em;
  }

  .icon-columns {
    background-color: inherit;
    padding-left: 3.5em;
  }

  .tabs {
    background: inherit;
    border: none;
  } 

  .padding-fix-inspection-tab {
    padding-top: 1em;
  }

  @media screen and (max-width:1328px){
    .x li {
    padding-top: auto;
    width: 6em;
    height: auto;
    border: none;
    }

    .title-icons {
      width: 2rem;
    }

    .icon-columns {
      padding: 1em 0.6em;
    }

    .tabs-title {
      border: none;
      display: list-item;
      width: 7rem;
      overflow: hidden;
      margin: auto;

    }
    .tabs-title a {
      font-size: 1rem;
      padding: 1em 0.6em;
    }

  }
}


#faq-content,
#terms-content {
  padding-right: 1rem;

  .faq-section,
  .terms-section {
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 5px;
      width: 2rem;
      height: 2px;
      left: 0;
      background-color: $primary-color;
    }
  }

  h3 {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 100;
  }

  .terms-section {
   text-align: justify;
  }
  .terms-section h4 {
    text-align: center;
  }
}

#panel2, #panel3 {
  .paragraph {
    font-weight: 100;
    text-align: justify;
  }
  padding-top: 2em;
}

@media #{$small-only} {
  #faq-content {
    padding-right: 0;
  }
}
