@import 'variables';

$deep-blue-color: #2ba8de;

// how it works page
#howitworks {
  background: rgba(181,222,245,0.15);
  margin-top: 90px;

  #howitworks-nav {

    .this {
      padding: 10px 25px;
      min-width: 250px;
      max-height: 300px;
      background: white;
      box-sizing: border-box;
      box-shadow: 2px 2px 21px lightgray;

      h5 {
        color: $primary-color;
      }

      p {
        text-align: center;
        img {
          width: 13%;
        }
      }
    
      ul {
        list-style: none;
        font-size: 18px;
        text-align: center;
        margin: 0;


        li {
          text-align: left;
          a {
            text-decoration: none;
            color: black;
            font-size: 1rem;
          }
        }
      }
    }
  } 

  #howitworks-part {
    h4, p {
      text-align: left;
      padding-left: 50px;
    }

    h4 {
      font-weight: 300;
    }

    p {
      font-weight: 200;
    }

  }
}


#faq-content,
#terms-content {
  padding-right: 1rem;

  .faq-section,
  .terms-section {
    position: relative;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      bottom: 5px;
      width: 2rem;
      height: 2px;
      left: 0;
      background-color: $primary-color;
    }
  }

  h3 {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 300;
    font-size: 15px;
  }

  .terms-section {
   text-align: justify;
  }
  .terms-section h4 {
    text-align: center;
  }
}

#panel2, #panel3 {
  .paragraph {
    font-weight: 100;
    text-align: justify;
  }
  padding-top: 2em;
}

@media #{$small-only} {
  #faq-content {
    padding-right: 0;

    p {
      font-size: 14px;
    }
  }
}
