@import 'settings';

/*****************
 *               *
 *     fonts     *
 *               *
 *****************/

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);

/*****************
 *               *
 *   variables   *
 *               *
 *****************/

$border-color: #dce0e0;
$nav-anchor: #484848;
$nav-hover: $light-gray;
$panel-bg: $light-gray;
$grid-column-gutter: 32px;
$primary-color: #68c0ea;

/*****************
 *               *
 *    mixins     *
 *               *
 *****************/
// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}
