<h1>Wish</h1>
<% if @wishlists.count > 0%>
  <ul id="wishlists">
    <%= render "wishlists_list", wishlists: @wishlists %>
  </ul>
<% else %>
  <h1>There are no wishlists here </h1>
<%end%>
<span>
  <%= form_for [@customer, @list], html: {id: "wishform"}, remote: true do |f|%>
    <%= f.text_field :name %>
    <%= f.submit "Create" %>
  <% end %>
</span>
