<nav>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a id="logo" href="#">OpenReal</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu nav-menu">
        <li>
          <a href="#">Sell</a>
          <!-- <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul> -->
        </li>
        <li><a href="#" class="active">Buy</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>